.group {
    margin: 10px  0px;
    padding: 0px 5px;
    font-weight: initial !important;
    font-size: 11.8px;
    color: rbga(0,0,0,0.9);
}

.pd-l-5 {
    padding-left: 5px;
    flex-grow: 1
}

@media screen and (min-width:1919px){
    .group {
        font-size: 15px;
      }
}

.site-col {
    display: flex;
    align-items: center;
}


.img-site {
    width: 15vh;
    height: 15vh;
}

.bg {
    background-color: rgba(215, 215, 215,0.5);
    border-radius: 5px;
}

.title {
    padding-right: 5px;
    font-weight: 500;
}

.row {
    padding: 9px;
}
