<div class=" brd no-pm" [className]="classDisplay">
  <div class="shadow-wrap">
    <div class="tooltip-hoz " id="tooltip1">
      <div class="info-card d-flex">
        <div class="imgBox"><img [src]="imgSrc" (error)="handleImageError($event)" alt="" width="130px" height="100%"></div>
      </div>
      <div *ngIf="cbStatus" class="status-card" [className]="(cbStatus | myNumber: '1.0-2') == 0 ? 'cboff-status-card' : 'status-card'">
        <div class="w-100 h-100 btn"></div>
      </div>
    </div>
  </div>
  <div class="circleOuter d-flex-ct" [className]="(cbStatus | myNumber: '1.0-2') == 0 ? 'cboff d-flex-ct' : 'circleOuter d-flex-ct'">
    <div class="circleInner d-flex-ct">
      <div class="circle"></div>
    </div>
  </div>
</div>