<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" *ngIf="checkRoute()" [position]="(isHandset$ | async) ? 'end' : 'start'"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="title">
      <img src="assets/images/mea.png" class="logo" alt="" (click)="callHome()">
    </mat-toolbar>
    <mat-nav-list>
      <a class="box logout-box " style="display: flex; flex-direction: column; justify-content: center; ">
        <p class="role">{{role}}</p>
        <p class="logout" (click)="logout()" (click)="routing1('logout')">LOGOUT</p>
        <p class="role">{{today}}</p>
      </a>

      <a class="box site-box" style="display: flex; flex-direction: column; justify-content: center; row-gap: 5px;">
        <p>LOCATION</p>
        <div class="dropDown">
          <mat-select [(ngModel)]="siteSelected.name" disableOptionCentering [placeholder]="siteSelected.name" panelClass="myPanelClass"
            class="mySelectClass" style="color: white;" *ngIf="buildingList  && buildingList.building">
            <Input matInput placeholder="Search"
            (input)="filter($event.target.value)"
            class="nav-search"/>
            
            <ng-container *ngFor="let item of buildingList.building; let i = index;">
              <mat-option *ngIf="item.display" [value]="item.name" (mouseover)="selectMeter(item.zone)" [ngClass]="item.building ? 'meter-option':''">
                <div class="w-100 h-100 d-flex-sb" (click)="selectSite(item)" >
                  <!-- <div class="option-icon d-flex-ct h-100 brd" *ngIf="item.building" style="margin-right: 8px;">
                    <i class="material-icons ">arrow_drop_down</i>
                  </div> -->
                  <div class="bz w-100">{{item.name}}</div>
                </div>
              </mat-option>
            </ng-container>
            <!-- <ng-container *ngFor="let item of buildingList.building; let i = index;">
              <mat-option *ngIf="item.display" [value]="item.name" (mouseover)="selectMeter(item.zone)" [ngClass]="item.building ? 'meter-option':''">
                
              </mat-option>
            </ng-container> -->
            
          </mat-select>
        </div>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/mapview" routerLinkActive="active"
        *ngIf="pages.indexOf('mapview') > -1" (click)="toggleBackground('/main/mapview')">
        <i class="material-icons">
          language
        </i>
        <p>MAP OVERVIEW</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/overview" routerLinkActive="active"
        *ngIf="pages.indexOf('overview') > -1" (click)="toggleBackground('/main/overview')">
        <i class="material-icons">
          dashboard
        </i>
        <p>OVERVIEW</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/dashboard" routerLinkActive="active"
        *ngIf="pages.indexOf('dashboard') > -1" (click)="toggleBackground('/main/dashboard')">
        <i class="material-icons">
          dashboard_customize
        </i>
        <p>DASHBOARD</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/building" routerLinkActive="active"
        *ngIf="pages.indexOf('building') > -1" (click)="toggleBackground('/main/building')">
        <i class="material-icons">
          account_balance
        </i>
        <p>BUILDING</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/topology" routerLinkActive="active"
        *ngIf="pages.indexOf('topology') > -1" (click)="toggleBackground('/main/topology')">
        <i class="material-icons">
          account_tree
        </i>
        <p>TOPOLOGY</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/diagram" routerLinkActive="active"
        *ngIf="pages.indexOf('diagram') > -1" (click)="toggleBackground('/main/diagram')">
        <i class="material-icons">
          device_hub
        </i>
        <p>DIAGRAM</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/powermeters" routerLinkActive="active"
        *ngIf="pages.indexOf('powermeters') > -1" (click)="toggleBackground('/main/powermeter')">
        <i class="material-icons">
          offline_bolt
        </i>
        <p>POWER METERS</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/inverters" routerLinkActive="active"
        *ngIf="pages.indexOf('inverters') > -1" (click)="toggleBackground('/main/powermeter')">
        <i class="material-icons">
          waves
        </i>
        <p>INVERTERS</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/charts" routerLinkActive="active"
        *ngIf="pages.indexOf('charts') > -1" (click)="toggleBackground('/main/powermeter')">
        <i class="material-icons">
          timeline
        </i>
        <p>CHARTS</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/reports" routerLinkActive="active"
        *ngIf="pages.indexOf('reports') > -1" (click)="toggleBackground('/main/powermeter')">
        <i class="material-icons">
          file_copy
        </i>
        <p>REPORTS</p>
      </a>
      <a mat-list-item href="#" class="box" routerLink="/main/admin" routerLinkActive="active"
        *ngIf="pages.indexOf('admin') > -1"  (click)="toggleBackground('/main/admin')">
        <i class="material-icons">
          dashboard_customize
        </i>
        <p>ADMIN</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar [style.display]="(isHandset$ | async) ? 'inherit': 'none'" class="header-control"
      [ngClass]="{'special': bgStatus}">
      <div class="nav-content">
        <div mat-list-item href="#" class="icon-box dashboard" routerLinkActive="icon-active" routerLink="/main/mapview">
          <i class="material-icons icon-material-icons">
            language
          </i>
        </div>
        <a mat-list-item href="#" class="icon-box diagram" routerLinkActive="icon-active" routerLink="/main/overview">
          <i class="material-icons icon-material-icons">
            dashboard
          </i>
          <!-- <div class="list1">
            <a mat-list-item href="#" routerLink="/main/dashboard1">Overview</a>
            <a mat-list-item href="#" routerLink="/main/dashboardtv">Map Overview</a>
          </div> -->
        </a>
        <div class="icon-box dashboard" routerLinkActive="icon-active">
          <mat-select *ngIf="buildingList && buildingList.building" style="padding-top: 10px;">
            <Input matInput placeholder="Search"
            (input)="filter($event.target.value)"
            class="nav-search"/>
            
            <ng-container *ngFor="let item of buildingList.building; let i = index">
              <mat-option *ngIf="item.display" [value]="item.name"
                (click)="selectSite(item)">
                {{item.name}}
              </mat-option>
            </ng-container>
          </mat-select>
        </div>
        <a mat-list-item href="#" class="icon-box dashboard" routerLinkActive="icon-active"routerLink="/main/dashboard">
          <i class="material-icons icon-material-icons">
            dashboard_customize
          </i>
        </a>
        
        <!-- <div mat-list-item href="#" class="icon-box diagram" routerLinkActive="icon-active" routerLink="/main/dashboard3">
          <i class="material-icons icon-material-icons">
            account_balance
          </i>
          
        </div> -->
        <a mat-list-item href="#" class="icon-box powermeter" routerLink="/main/powermeters" routerLinkActive="icon-active">
          <i class="material-icons icon-material-icons">
            offline_bolt
          </i>
        </a>
        <a mat-list-item href="#" class="icon-box inverters" routerLink="/main/inverters" routerLinkActive="icon-active">
          <i class="material-icons icon-material-icons">
            waves
          </i>
        </a>
        <a mat-list-item href="#" class="icon-box" routerLink="/main/charts" routerLinkActive="icon-active">
          <i class="material-icons icon-material-icons">
            timeline
          </i>
        </a>
        <a mat-list-item href="#" class="icon-box" routerLink="/main/reports" routerLinkActive="icon-active">
          <i class="material-icons icon-material-icons">
            file_copy
          </i>
        </a>
        <a (click)="logout()">
          <i class="material-icons icon-material-icons icon-logout">
            exit_to_app
          </i>
        </a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>