.left{
    display: flex;
    align-items: center;
    transition: 0.3s;
    .shadow-wrap{
        filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.4));
    }
}
.tooltip-hoz{
    position: relative;
    width: 296px;
    height: 90px;
    clip-path: polygon(8% 0, 100% 0%, 100% 100%, 8% 100%, 8% 66%, 0 50%, 8% 34%);
    background-color: #F0F0F0;
    z-index: 5;
    
}

.info-card{
    width: 252px;
    height: 75px;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    box-sizing: border-box;
    column-gap: 12px;
}

.imgBox{
    border: 2px solid rgba(0, 0, 0, 0.508);
    box-sizing: border-box;
}

.infoBox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.titleBox{
    color: rgb(63, 63, 63);
    font-weight:600;
    font-size: 18px;
    column-gap: 5px;
}

.valueBox{
    width: 100%;
    color: #000000;
    font-weight:600;
    font-size: 10px;
    column-gap: 10px;
    align-items: center;
    .value{
        color: #ECB800;
        font-weight:600;
        font-size: 14px;
    }
}

.circleOuter{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 4;
    background-color: #a9a9a92c;
    .circleInner{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        z-index: 8;
        background-color: #ffffff;
        .circle{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            z-index: 9;
            //border-radius: 94px;
            background: rgb(149, 255, 153);
        }
    }
}


.left:hover{
    //transform: rotateY(180deg);
    .circleOuter{
        scale: 1.8;
        background-color: rgba(149, 255, 152, 0.1);
        .circleInner{
            scale: 0.7;
            .circle{
                scale: 0.7;
            }
        }
    }
    .tooltip-hoz{
        background: linear-gradient(90deg, #22B5BE 0%, #161464 100%);
    }

    .titleBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: white;
    }
    
    .valueBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: whitesmoke;
    }
}

.right{
    display: flex;
    align-items: center;
    transition: 0.3s;
    transform: rotateY(180deg);
    .shadow-wrap{
        filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.4));
    }
    .tooltip-hoz{
        position: relative;
        width: 296px;
        height: 90px;
        clip-path: polygon(8% 0, 100% 0%, 100% 100%, 8% 100%, 8% 66%, 0 50%, 8% 34%);
        background-color: #F0F0F0;
        z-index: 5;
        transition: 0.5s ease-out;
        
    }
    
    .info-card{
        //transform: rotateY(-180deg);
        width: 252px;
        height: 75px;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translate(0, -50%) rotateY(-180deg);
        box-sizing: border-box;
        column-gap: 12px;
    }
}

.right:hover{
    //transform: rotateY(180deg);
    .circleOuter{
        scale: 1.8;
        background-color: rgba(149, 255, 152, 0.1);
        .circleInner{
            scale: 0.7;
            .circle{
                scale: 0.7;
            }
        }
    }
    .tooltip-hoz{
        background: linear-gradient(90deg, #22B5BE 0%, #161464 100%);
    }

    .titleBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: white;
    }
    
    .valueBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: whitesmoke;
    }
}

.left-active{
    display: flex;
    align-items: center;
    transition: 0.3s;
    .tooltip-hoz{
        position: relative;
        width: 296px;
        height: 90px;
        clip-path: polygon(8% 0, 100% 0%, 100% 100%, 8% 100%, 8% 66%, 0 50%, 8% 34%);
        background: linear-gradient(90deg, #22B5BE 0%, #161464 100%);
        z-index: 5;
    }
    
    .info-card{
        width: 252px;
        height: 75px;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translate(0, -50%);
        box-sizing: border-box;
        column-gap: 12px;
    }
    
    .imgBox{
        border: 2px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
    }
    
    .infoBox{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    
    .titleBox{
        color: white;
        font-weight:600;
        font-size: 18px;
        column-gap: 11px;
    }
    
    .valueBox{
        color: white;
        font-size: 12px;
        column-gap: 11px;
    }
    
    .circleOuter{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        z-index: 4;
        background-color: #a9a9a92c;
        .circleInner{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            z-index: 8;
            background-color: #ffffff;
            .circle{
                width: 12px;
                height: 12px;
                border-radius: 50%;
                z-index: 9;
                //border-radius: 94px;
                background: rgb(149, 255, 153);
            }
        }
    }
    
}

.right-active{
    display: flex;
    align-items: center;
    transition: 0.3s;
    transform: rotateY(180deg);
    .tooltip-hoz{
        position: relative;
        width: 296px;
        height: 90px;
        clip-path: polygon(8% 0, 100% 0%, 100% 100%, 8% 100%, 8% 66%, 0 50%, 8% 34%);
        background-color: rgba(13,16,23,0.9);
        z-index: 5;
        transition: 0.5s ease-out;
        background: linear-gradient(90deg, #22B5BE 0%, #161464 100%);
        //background-size: 200%;
        //transition: .5s ease-out;
    }
    
    .info-card{
        //transform: rotateY(-180deg);
        width: 252px;
        height: 75px;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translate(0, -50%) rotateY(-180deg);
        box-sizing: border-box;
        column-gap: 12px;
    }
    .titleBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: white;
    }
    
    .valueBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: whitesmoke;
    }
}

.active{
    background: linear-gradient(90deg, #22B5BE 0%, #161464 100%);
    .titleBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: white;
    }
    
    .valueBox{
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        color: whitesmoke;
    }
}