<div class="container-fluid">
  <div class="row h-100">
    <div class="site-col">
      <img src="assets/images/pic-site.png" alt="site" class="img-site">
    </div>
    <div class="pd-l-5">
        <div class="group bg">
            <span class="title">NAME:</span>
            <span class="info-value">{{name}}</span>
          </div>
          <div class="group">
            <span class="title">LOCATION:</span>
            <span class="info-value">{{location}}</span>
          </div>
          <div class="group bg">
            <span class="title">CAPACITY:</span>
            <span class="info-value">{{capacityValue}} {{capacityUnit}}</span>
          </div>
          <!-- <div class="group">
            <span class="title">1<sup>st</sup>SYNC:</span>
            <span class="info-value">{{firstsync}}</span>
          </div> -->
          <div class="group">
            <span class="title">COD:</span>
            <span class="info-value">{{cod}}</span>
          </div>
          <!-- <div class="group">
            <span class="title">DATE:</span>
            <span class="info-value">{{today}}</span>
          </div> -->
    </div>
  </div>
</div>