<div class="container-fluid  event-component">
  <div class="row no-gutters h-100">
    <div class="col-12 h-100">
      <div class="header row no-gutters">
        <!-- <form autocomplete="off">  -->
        <table>
          <tr>
            <th colspan="2">
              <span class="obj-name">ZERO-EXPORT FUNCTION</span>
            </th>
          </tr>
          <tr>
            <th colspan="2">
              <span class="obj-name">CURRENT MODE : </span><span style="color: rgb(241, 116, 116);font-weight: bold;font-size: 16px;">{{MDBSTATUS}}</span>
            </th>
          </tr>
          <tr>
            <th>
              <span class="obj-name">SET MODE</span>
            </th>
            <th>
              <select [(ngModel)]="selectEnable">
                <option value='true'>ENABLE</option>
                <option value='false'>DISABLE</option>
              </select>
          </th>
          <th>
            <span class="btn-ok" (click)="setExport()">SET</span>
          </th>
        </tr>
        <!-- <tr>
          <th>
            <span class="obj-name">Current ACB Mode</span>
          </th>
          <th>
            <label>{{MDBSTATUS}}</label>
          </th>
        </tr>
        <tr>
          <th>
            <div class="obj-name">ACB Control</div>
          </th>
            <th>
              <select [(ngModel)]="selectMDB">
                <option value=0>CLOSE</option>
                <option value=1>OPEN</option>
              </select>
          </th>
          <th>
            <span class="btn-ok" (click)="setMDB()">SET</span>
          </th>
        </tr> -->
          <tr> 
            <th>
              <span class="obj-name">PASSWORD</span>
            </th>
            <th>
              <input class="input-obj-name" id="manualPassword" autocomplete="new-password" type="password" [(ngModel)]="password">
            </th>
          </tr>
          <tr>
            <th></th>
            <!-- <th>
              <span class="btn-ok" (click)="setValue()">SET</span>
            </th> -->
          </tr>
        </table>
      <!-- </form> -->
      </div>
    </div>
  </div>
</div>
