.map-svg{
    scale: 1.0;
}

.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.compass-box{
    position: absolute;
    top: 25px;
    right: 45px;
    z-index: 100;
    transform: rotate(-60deg);
}

.label{
    animation: blinker 15s linear infinite;
}
  
@keyframes blinker {
    0% {
        opacity: 0.5;
       stroke-width: 3;
    }
    25% {
        stroke-width: 6;
    }
    50% {
        stroke-width: 9;
    }
    75% {
        stroke-width: 12;
    }
}

.path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 60s ease-in-out  infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}