<div class="container-fluid">
  <div class="svg-container bz w-100 h-100">
    <div class="svgBox w-100 h-100">
      <img [src]="'assets/images/building/'+siteName.zone+'.png'" alt="" width="100%" height="100%">
      <!-- <img [src]="'assets/images/map.png'" alt="" width="100%" height="100%"> -->
      <div class="zoneCard" [id]="siteName.id + '_pos'" *ngIf="!siteName.building && data && data.singleValue" >
          <app-tooltip (click)="selectBuilding(siteName.id)"
          [title]="'Bx.'"
          [titleText]="siteName.name"
          [imgSrc]="'assets/images/building/dashboard/'+siteName.id+'.png'" 
          [g1Title]="'Energy'"
          [g1Value]="data?.singleValue[siteName.id+'_energy']?.dataRecords[0]?.Value"
          [g1Unit]="'kWh'"
          [g2Title]="'Active Power'"
          [g2Value]="data?.singleValue[siteName.id+'_power']?.dataRecords[0]?.Value"
          [g2Unit]="'kW'"
          [display]="false"
          [classDisplay]="'top'"
          ></app-tooltip>
      </div>
      <div class="zoneCard" [id]="item + '_pos'" *ngFor="let item of siteName.building" >
        <app-tooltip (click)="selectBuilding(item)"
        [title]="'Bx.'"
        [titleText]="getBuildingName(item)"
        [imgSrc]="'assets/images/building/dashboard/'+item+'.png'" 
        [g1Title]="'Energy'"
        [g1Value]="data?.singleValue[item+'_energy']?.dataRecords[0]?.Value"
        [g1Unit]="'kWh'"
        [g2Title]="'Active Power'"
        [g2Value]="data?.singleValue[item+'_power']?.dataRecords[0]?.Value"
        [g2Unit]="'kW'"
        [display]="false"
        [classDisplay]="'top'"
        ></app-tooltip>
    </div>
    </div>
    <div class="cardBoxs col h-100" *ngIf="siteSelected && displayCard">
      <div class="cardList" id="1" *ngIf="data02 && data02.singleValue">
        <app-card-buiding  
        [header]="siteSelected.name"
        [topic1]="'Power'"
        [value1]="data02?.singleValue['power_value']?.dataRecords[0]?.Value || '---'"
        [unit1]="'kW'"
        [topic2]="'Energy'"
        [value2]="data02?.singleValue['energy_value']?.dataRecords[0]?.Value || '---'"
        [unit2]="'kWh'"
        [topic3]="'Performance'"
        [value3]="data02?.singleValue['pr_value']?.dataRecords[0]?.Value || '---'"
        [unit3]="'%'"
        [topic4]="'Today Saving'"
        [value4]="getSaving(data02?.singleValue['energy_value']?.dataRecords[0]?.Value)"
        [unit4]="'Bath'"
        [chartOptions]="chartChildOptions['powerGeneration']">
        </app-card-buiding>
        <div class="close-box" (click)="closeCard()">
          <i class="material-icons">cancel</i>
        </div>
      </div>

      <div class="cardList inv-card" id="2" *ngIf="data02 && data02.singleValue">
        <app-card-buiding  
        [header]="'Inverter Summary'"
        [topic1]="'WAC'"
        [value1]="getSumValue('power_inv')"
        [unit1]="'kW'"
        [topic2]="'VAC'"
        [value2]="getSumValue('volt_inv')"
        [unit2]="'V'"
        [topic3]="'Efficiency'"
        [value3]="getAverageValue('performance_inv')"
        [unit3]="'%'"
        [topic4]="'Today Energy'"
        [value4]="getSumValue('energy_inv')"
        [unit4]="'kWh'"
        [chartOptions]="chartChildOptions['inverterGeneration']">
        </app-card-buiding>
      </div>

      <div class="cardList inv-card" id="2" *ngIf="siteSelected">
        <app-card-breaker
        [header]="'Breaker'"
        [site]="siteSelected"
        [cbStatus]="data02?.singleValue['cb_status']?.dataRecords[0]?.Value"
        >
        </app-card-breaker>
      </div>

      <div class="images-box d-col">
        <img [src]="'assets/images/building/dashboard/'+siteSelected.id+'.png'" alt="" width="100%" height="185px">
      </div>
    </div>
    <div class="goback d-flex" [routerLink]="['/main/dashboardtv']">
      <i class="material-icons">arrow_back</i>
      <span>Back To Mapview</span>
    </div>
  </div>
</div>