
.container-fluid {
    width: 100%;
    height: 100%;
    padding: 7px;
}

.svg-container{
    background-color: rgba(245, 245, 245, 0.301);
    position: relative;
    box-sizing: border-box;
}

.svg{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 174, 0);
    .content{
        width: 100%;
        height: 100%;
        //border: 1px solid rgb(255, 0, 0);
    }
}

#build1{
    position: absolute;
    top: 1900%;
    left: 37%;
}

#build2{
    position: absolute;
    top: 25%;
    left: 33%;
}

#build3{
    position: absolute;
    top: 38%;
    left: 33%;
}

#build4{
    position: absolute;
    top: 60%;
    left: 17%;
}

#build5{
    position: absolute;
    top: 25%;
    left: 12%;
}

.cardBoxs{
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    padding: 10px;
    margin: 0;
    row-gap: 10px;
    //background-color: aquamarine;
}

.container{
    background-color: rgba(62, 148, 192, 0.1);
    //filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    padding: 0;
    margin: 0;
}
.headBox{
    justify-content: space-between;
    background: #136286;
    color: white;
    padding: 8px 10px;
    span {
        font-size: 12px;
        font-weight: 500;
        // line-height: 1.8;
        // padding-top: 2px;
    }
}

.contentBox{
    padding: 50px;
    position: relative;
}
.desc{
    position: absolute;
    bottom: 0;
    right: 0px;
    font-size: 12px;
    color: #c14c4c;
    font-weight: 500;
    text-align: right;
}

#card2{
    position: absolute;
    z-index: 5;
    scale: 1.5;
}

.tooltipBox{
    display: none;
}

.btn-box{
    display: none;
}

@media screen and (max-width: 721px) {
    
    .svgBox{
        display: none;
    }
    .btn-box{
        display:  flex;
        justify-content: center;
    }
    .cardBoxs{
        position: absolute;
        top: 0;
        left: 0;
    }
    .container-fluid {
        width: 100%;
        height: auto;
        padding: 7px;
    }
}

.outerbox{
    padding: 10px;
    border-radius: 8px;
    background: #EDEDED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    //transform: translate(-25%, -25%);
}
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 1.6em;
    height: 3.9em;
    z-index: 5;
    margin: 0 !important;
  }
  
  /* Hide default HTML checkbox */
  .switch .chk {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bcbcbc;
    transition: .4s;
    border-radius: 5px;
  }

  .icon-break{
    // font-size: 0px;
    margin: 0px;
  }
  
  .btn-respons{
    background-color: rgb(255, 255, 255);
    color: #1f5263;
    border-radius: 5%;
    width:350px;
    height: auto;
    padding: 8px 8px;
    margin-top: 10px;
  }
   .btn-respons:hover{
    background-color: #464646;
    color: #c14c4c;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: .5em;
    width: 2.4em;
    border-radius: 5px;
    left: -0.4em;
    top: 0.4em;
    background-color: rgb(68, 66, 66);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    transition: .4s;
  }
  
  .slider:before, .slider:after {
    content: "";
    display: block;
  }
  
  .slider:after {
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
          repeating-linear-gradient(90deg,rgb(78, 78, 78) 0,rgb(141, 135, 135),rgb(97, 96, 96) 20%,rgb(97, 95, 95) 20%,rgb(99, 99, 99) 40%) 0 50% / 50% 100%,
          radial-gradient(circle at 50% 50%,rgb(95, 94, 94) 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #464646;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%) rotate(90deg);
    transform-origin: 25% 50%;
    position: relative;
    top: 0.8em;
    left: 0.75em;
    width: 2em;
    height: 1em;
    box-sizing: border-box;
  }
  
  .chk:checked + .slider {
    background-color: #c14c4c;
  }
  
  .chk:focus + .slider {
    box-shadow: 0 0 1px #c14c4c;
  }
  
  .chk:checked + .slider:before {
    transform: translateY(2.0em);
  }
  
  .chk:checked + .slider:after {
    transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-0.6em);
  }