.container-fluid {
    height: 100%;
    width: auto;
    padding: 7px;
}

.row-container{
    height: 100%;
    //border: 2px solid rgb(255, 0, 0);
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #136286;
    color: white;
    min-height: 32px;
}

.row-header {
    display: flex;
    // justify-content: space-between;
    padding: 4px;
    align-items: center;
}

@media only screen and (max-width: 630px) {
    .row-header {
        width: 100%;
        padding: 4px !important;
    }
}


.line {
    margin-right: 10px;
}

.select-parameters {
    // padding: 4px 15px;
    background: #FD674E;
    color: white;
    font-weight: 500;
    font-size: 12px;
    margin-left: 1px;
    cursor: pointer;
    display: flex;
    padding: 3px 10px 1px 10px;
    align-items: center;
}



.btn-ok {
    background: #FD674E;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    // line-height: 1.4;
    // padding-bottom: 1px;
    margin-left: 5px;
    padding: 3.5px 10px 1px 10px;
}

.stroke {
    padding: 0px 5px;
}

app-time-control:first-of-type {
    // margin-right: 10px;
}

.content {
    background-color: white;
    position: relative;
    // margin-bottom: 10px;
    height: 95%;
}


.period, .period-time {
    text-align: right;
}

@media only screen and (max-width: 768px)  {
    .period {
        text-align: left !important;
    }
}

@media only screen and (max-width: 689px)  {
    .row-header {
        padding: 3px 0px;
    }
}




@media only screen and (max-width: 1200px)  {
    .period-time {
        text-align: left !important;
    }
}

.mr-b-3, .mr-b-5 {
    margin-bottom: 0px;
}


@media only screen and (max-width: 1200px)  {
    .mr-b-5 {
    margin-bottom: 7px !important;
    }

    .mr-b-3 {
        margin-bottom: 6px !important;
    }
}
