.chart-container{
    padding: 18px;
    row-gap: 8px;
    display: flex;
    flex-direction: column;

}

.cardTopic{
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.cardContent{
    width: 100%;
    height: 100%;
   display: flex;
   column-gap: 5px;
}

@media screen and (max-width: 500px) {
    .chart-container{
        padding: 16px;
        row-gap: 8px;
        display: flex;
        flex-direction: column;
    
    }
    
    .cardTopic{
        font-size: 20px;
        color: white;
        font-weight: 500;
    }
    
    .cardContent{
        width: 100%;
        height: 100%;
       display: flex;
        justify-content: space-between;
       flex-wrap: wrap;
       
    }

    .chartBox{
        height: 100px;
    }
    
}