<div class="chart-container h-100 w-100">
  <div class="cardTopic ">BUILDING GENERATION</div>
  <div class="cardContent ">
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="8" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="0" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="7" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="9" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="2" class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="3" class="chartBox">
    </app-stack-chart>
    <app-stack-chart class="chartBox">
    </app-stack-chart>
    <app-stack-chart [data]="5" class="chartBox">
    </app-stack-chart>
  </div>
</div>