.container-fluid {
    text-align: center;
    background-color: white;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    //border: 1px solid red;
}

.title-card{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  padding: 4px;
  background-color: #0E6486;
  color: whitesmoke;
  width: calc(100% - 16px);
}

.weather-card{
  height: 5%;
  z-index: 100;
}

.diagram-svg{
  scale: 1.25;
}

.row{
  height: calc(100vh - 16px);
  //border: 1px solid red;
}

.label{
  fill: rgb(94, 0, 0);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

// @media screen and (min-width:1919px){
//     .container-fluid {
//         zoom: 85%;
//       }
// }
