<div class="container-fluid w-100 h-100">
  <div class="row no-gutters  w-100">
    <div class="head w-100 bz d-flex">
      <div class="tpc-item h-100 bz"><span>Report Facror :</span></div>
      <div class="inp-item d-flex bz">
        <div class="input-group ">
          <div class="input-group-prepend ">
            <i class="material-icons">
              monetization_on
            </i>
            <p>Energy Cost : </p>
          </div>
          <input [(ngModel)]="reportFactors.ExchangeRate" step="0.0001" name="ex-rate" type="number" class="form-control" placeholder="0.00">
        </div>
        <div class="input-group sp">
          <div class="input-group-prepend ">
            <i class="material-icons">
              monetization_on
            </i>
            <p>OnPeak Energy Cost : </p>
          </div>
          <input [(ngModel)]="reportFactors.OnPeakRate" step="0.0001" name="ex-rate" type="number" class="form-control" placeholder="0.0000">
        </div>
        <div class="input-group sp">
          <div class="input-group-prepend ">
            <i class="material-icons">
              monetization_on
            </i>
            <p>OffPeak Energy Cost : </p>
          </div>
          <input [(ngModel)]="reportFactors.OffPeakRate" step="0.001" name="ex-rate" type="number" class="form-control" placeholder="0.0000">
        </div>
        <div class="input-group ">
          <div class="input-group-prepend ">
            <i class="material-icons">
              monetization_on
            </i>
            <p>Ft Cost : </p>
          </div>
          <input [(ngModel)]="reportFactors.FT" step="0.0001" name="ex-rate" type="number" class="form-control" placeholder="0.00">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <i class="material-icons">
              cloud
            </i>
            <p>CO2 Ratio : </p>
          </div>
          <input [(ngModel)]="reportFactors.CO2Rate" step="0.001" name="ex-rate" type="number" class="form-control" placeholder="0.00"
            aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <i class="material-icons">
              opacity
            </i>
            <p>Fuel Ratio : </p>
          </div>
          <input [(ngModel)]="reportFactors.OilRate" step="0.001" name="ex-rate" type="number" class="form-control" placeholder="0.00" 
            aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <i class="material-icons">
              terrain
            </i>
            <p>Tree Ratio : </p>
          </div>
          <input [(ngModel)]="reportFactors.TreeRate" step="0.001" name="ex-rate" type="number" class="form-control" placeholder="0.00"
            aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="btn-item h-100 bz">
        <button class="btn-ok" type="submit" (click)="setFactors()">SUBMIT</button>
      </div>
    </div>
  </div>
  <div class="row no-gutters  w-100" style="margin-top: 7px;">
    <div class="head w-100 bz d-flex">
      <div class="tpc-item h-100 bz"><span>Holiday Setting :</span></div>
      <div class="inp-item d-flex bz">
        <app-time-control [pickerType]="'calendar'"
          style="margin-right: 7px;" (selectDatetime)="selectHolidays($event)" [startView]="'multi-years'"
         [dateTime]="dateTime"></app-time-control>
      </div>
      <div class="inp-item d-flex bz">
        <app-time-control [pickerType]="'calendar'"
          style="margin-right: 7px;" (selectDatetime)="onDateTimeChange($event)" 
         [dateTime]="dateTime"></app-time-control>
      </div>
      <div class="btn-item h-100 bz">
        <button class="btn-ok" type="submit" (click)="setHolidays()">SUBMIT</button>
      </div>
    </div>
    <div class="data-row w-100 bz">
      <div class="date-col bz" *ngFor="let m of monthArr">
        <div class="date-title"><span>{{m.name}}</span></div>
        <div class="date-group bz">
          <mat-chip-list #chipList>
            <mat-chip class="chip bz"
              *ngFor="let date of filterDateByMonth(m.no, holidayArr); index as i;"
              [removable]="removable"
              (removed)="remove(i)">
              {{date | date: 'dd-MMM-yyyy'}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</div>
