<div class="container-fluid">
  <div class="row-container">
    <div class="row no-gutters chart">
      <div class="col-lg-7 col-md-12 order-2 order-lg-1 group">
        <!-- <div class="box row no-gutters h-100">
          <div class="col-12">
            <div class="header row no-gutters">
              <div class="row-header">
                <span class="title">CHART</span>
              </div>
              <div class="row-header">
                <span class="periods">
                  <app-time-control [title]="'START'" [dateTime]="startTime" (selectDatetime)="selectStartTime($event)"></app-time-control>
                  <span class="stroke">-</span>
                  <app-time-control  [title]="'END'" [dateTime]="endTime" (selectDatetime)="selectEndTime($event)"></app-time-control>
                  <div class="d-inline-block">
                  <span class="btn-ok title" (click)="selectOptions()">OK</span>
                </div>
                </span>
              </div>
              <div class="row-header">
                <span>
                  <app-time-preset [periodSelected]="periodName" [periodNames]="periodNames" (select)="selectedPeriod($event)"></app-time-preset>
                </span>
              </div>
            </div>
          </div>
          <div class="content content-chart">
            <app-sat-chart [chartParameters]="chartParameters"></app-sat-chart>
          </div>
        </div> -->
  
        <div class="row no-gutters h-100">
          <div class="col-12 h-100">
              <div class="header row no-gutters">
                  <div class="row-header">
                    <span class="title">CHART : {{siteName.name}}</span>
                  </div>
                  <div class="row-header">
                      <app-time-control [title]="'START'" [dateTime]="startTime" (selectDatetime)="selectStartTime($event)"></app-time-control>
                      <span class="stroke">-</span>
                      <app-time-control [title]="'END'" [dateTime]="endTime" (selectDatetime)="selectEndTime($event)"></app-time-control>
                      <div class="d-inline-block">
                          <span class="btn-ok" (click)="selectOptions()">OK</span>
                      </div>
                  </div>
                  <div class="row-header">
                      <app-time-preset [periodSelected]="periodName" [periodNames]="periodName" (select)="selectedPeriod($event)"></app-time-preset>
                  </div>
              </div>
              <div class="content content-chart">
                <app-sat-chart [chartParameters]="chartParameters"></app-sat-chart>
              </div>
          </div>
      </div>
      </div>
      <div class="col-lg-5 col-md-12 order-1 order-lg-2 h-100 group group-power-meter">
        <!-- <div class="box">
          <div class="header">
            <div class="row w-100 no-gutters">
              <div class="col-12">
                  <span class="title">POWER METERS</span>
              </div>
            </div>
          </div>
          <div class="content content-heigh">
            <app-tag-group #tagGroup [groupConfig]="groupConfig" (selectTags)="selectedTag($event)"></app-tag-group>
          </div>
        </div> -->
        <div class="row no-gutters h-100">
          <div class="col-12 h-100">
              <div class="header row no-gutters">
                  <div class="row-header">
                    <span class="title">CHART PARAMETERS</span>
                  </div>
              </div>
              <div class="content content-heigh">
                <app-tag-group *ngIf = "groupConfig.length == 0" #tagGroup [groupConfig]="groupConfig" (selectTags)="selectedTag($event)"></app-tag-group>
                <app-tag-group *ngIf = "groupConfig && groupConfig.length > 0" #tagGroup [groupConfig]="groupConfig" (selectTags)="selectedTag($event)"></app-tag-group>
              </div>
          </div>
      </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 group">
        <div class="box">
          <div class="content">
            <!-- <app-report *ngIf = "groupConfig.length == 0" [reportConfig]="reportConfig" [reportsData1]="reportData"></app-report> -->
            <app-report  [reportConfig]="reportConfig" [reportsData1]="reportData"></app-report>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>