
// @media screen and (min-width:1919px){
//     .container-fluid {
//         zoom: 83%;
//       }
// }

.container-fluid {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    width: auto;
    padding: 7px 7px 0px 7px;
}

.weather-card{
    //height: 5%;
    width: 100%;
    //border: 1px solid white;
    margin-bottom: 8px;
}


.row-container{
    height: 100%;
    //border: 2px solid rgb(255, 0, 0);
    box-sizing: border-box;
}


.header {
    display: flex;
    background: #136286;
    color: rgb(0, 0, 0);
    min-height: 32px;
    padding: 4px;
}

.select-parameters {
    padding: 3px 20px;
    background: #FD674E;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.btn-ok {
    padding: 5px 13px;
    background: #FD674E;
    color: white;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    margin-right: 7px;
    border: none;
    outline: none;
}

app-time-control:first-of-type {
    // margin-right: 10px;
    // margin-left: 15px;
}

.item {
    margin-top: 0px;
}


@media only screen and (max-width: 576px) {
    // app-time-control:first-of-type {
    //     margin-right: 0px !important;
    //     margin-left: 0px !important;
    // }

    .item {
        margin-top: 7px !important;
    }

    .btn-ok {
        margin-top: 7px;
    }
}

.content {
    background-color: #f8f8f8;
    margin-bottom: 10px;
    height: 95vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    position: relative;
    //border: 1px solid rgb(255, 0, 0);
}



.full-height {
    min-height: calc(100vh - 49px);
    overflow-y: scroll;
}


.mat-selects {
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    padding: 2px 5px 2px 0px;
    color: black !important;
    // margin-right: 15px;
    // width: 300px !important;
    ::ng-deep .mat-select{
        color: black !important;
    }
    ::ng-deep .mat-select-value-text{
        color: black !important;
    }

}


::ng-deep.report-component .selector {
    .mat-form-field-label, .mat-select-arrow, .mat-select-value-text {
        color: black;
        font-size: 13px;

    }
    
    .mat-select-value-text {
        padding-left: 5px;
    }

    .mat-form-field-infix {
        border-top: initial;
        padding: 0px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        bottom: 0px !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }

    .mat-form-field.mat-focused .mat-form-field-label, .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: rgb(0, 0, 0);
    }

    .mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: white;
    }
}

.download{
    position: fixed;
    cursor: pointer;
    right: 23px;
    z-index: 50;
    bottom: 20px;
    // font-size: 25px;
    // padding: 2px 10px;
    // border-radius: 50%;
    background-color: gray;
    color: white;
}

.download i {
    font-size: 35px !important;
    line-height: 1px !important;
}

.report-content{
    width: 794px;
    height: 100%;
    min-height: 1123px;
    background-color: #ffffff;
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
}

.report-header{
    padding: 8px 32px;
    border-bottom: 2px solid red;
}

.topic{
    font-weight: 500;
    font-size: 16px;
}

.report-info{
    display: grid;
    padding: 12px 0px;
    .row-info{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: right;
        align-items: center;
        padding: 2px 0px;
        border-bottom: 1px solid #DBDBDB;
        font-weight: 500;
    }
    .row-info span:first-child{
        text-align: left;
    }
}

table{
    border-collapse: collapse;
}

table th{
    text-align: center;
    font-weight: 500 !important;
    border: 1px solid black;
    font-size: 14px;
    background: #DBDBDB;
}

table td{
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
    padding: 0;
}

.row-summary{
    background: #DBDBDB;
}

.report-chart{
    margin-top: 16px;
    height: auto;
}

.loading-wave {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
  
.loading-bar {
    width: 30px;
    height: 20px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}
  
.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}
  
.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}
  
.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}
  
@keyframes loading-wave-animation {
    0% {
      height: 20px;
    }
  
    50% {
      height: 60px;
    }
  
    100% {
      height: 20px;
    }
}
  