<div class="container-box w-100 h-100 bz">
  <svg class="map-svg bz" width="2560" height="1440" x="0" y="0" viewBox="0 0 2560 1440" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Group 2193">
    <rect id="zone23 1" width="1920" height="1080" fill="url(#pattern0_899_11017)"/>
    <g id="card" transform="translate(0, -50)">
    <g id="Group 2111">
    <g id="Group 2034">
    <rect id="Rectangle 902" x="664.75" y="681.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#161;&#224;&#184;&#171;&#224;&#184;&#178;&#224;&#184;&#161;&#224;&#184;&#129;&#224;&#184;&#184;&#224;&#184;&#142; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="671" y="701.558">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe21;&#xe2b;&#xe32;&#xe21;&#xe01;&#xe38;&#xe0e; : {{data['SCI025_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="671" y="740.285">Today Production : {{data['SCI025_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 197.64 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="671.004" y="770.285">Capacity : 197.64 kWp</tspan></text>
    </g>
    <path id="Vector 862" d="M964.5 753H642.5V628" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect" d="M964.5 753H642.5V628" stroke="#9AB1BC" stroke-width="4"/>
    </g>
    <g id="Group 2064">
    <circle id="Ellipse 69" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 622 629)" stroke="#9AB1BC" stroke-width="4"/>
    <circle id="Ellipse 70" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 636 615)" fill="#9AB1BC"/>
    </g>
    </g>
    <g id="card_2"  transform="translate(0, -25)">
    <g id="Group 2106">
    <g id="Group 2034_2">
    <rect id="Rectangle 902_2" x="1046.75" y="537.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#136;&#224;&#184;&#184;&#224;&#184;&#165;&#224;&#184;&#136;&#224;&#184;&#177;&#224;&#184;&#129;&#224;&#184;&#163;&#224;&#184;&#158;&#224;&#184;&#135;&#224;&#184;&#169;&#224;&#185;&#140; : 55.32 kW" 
    fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1052.5" y="558.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe08;&#xe38;&#xe25;&#xe08;&#xe31;&#xe01;&#xe23;&#xe1e;&#xe07;&#xe29;&#xe4c; : {{data['CEN060_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_2" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1052.5" y="596.785">Today Production : {{data['CEN060_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 162.00 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1052.5" y="626.785">Capacity : 162.00 kWp</tspan></text>
    </g>
    <path id="Vector 862_2" d="M1346 609.5H955" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_2" d="M1346 610.5H955" stroke="#9AB1BC" stroke-width="4"/>
    </g>
    <g id="Group 2114">
    <circle id="Ellipse 69_2" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 918 630)" stroke="#9AB1BC" stroke-width="4"/>
    <circle id="Ellipse 70_2" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 932 616)" fill="#9AB1BC"/>
    </g>
    </g>
    <g id="card_3" transform="translate(50, 0)">
    <g id="Group 2105">
    <g id="Group 2034_3">
    <rect id="Rectangle 902_3" x="666.75" y="144.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#161;&#224;&#184;&#171;&#224;&#184;&#178;&#224;&#184;&#167;&#224;&#184;&#138;&#224;&#184;&#180;&#224;&#184;&#163;&#224;&#184;&#184;&#224;&#184;&#147;&#224;&#184;&#171;&#224;&#184;&#180;&#224;&#184;&#168; : 55.32 kW" 
    fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="673" y="165.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe21;&#xe2b;&#xe32;&#xe27;&#xe0a;&#xe34;&#xe23;&#xe38;&#xe13;&#xe2b;&#xe34;&#xe28; : {{data['SCI028_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_3" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="673" y="203.785">Today Production : {{data['SCI028_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 102.60 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="673.004" y="233.785">Capacity : 102.60 kWp</tspan></text>
    </g>
    <path id="Vector 862_3" d="M967 216.5H647V277" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_3" d="M967 216.5H647V277" stroke="#9AB1BC" stroke-width="4"/>
    </g>
    <g id="Group 2115">
    <circle id="Ellipse 69_3" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 627 315)" stroke="#9AB1BC" stroke-width="4"/>
    <circle id="Ellipse 70_3" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 641 301)" fill="#9AB1BC"/>
    </g>
    </g>
    <g id="card_4">
    <g id="Group 2112">
    <g id="Group 2034_4">
    <rect id="Rectangle 902_4" x="794.75" y="383.75" width="300.5" height="98.5" fill="#074173" fill-opacity="0.6" stroke="#074173" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#155;&#224;&#184;&#143;&#224;&#184;&#180;&#224;&#184;&#154;&#224;&#184;&#177;&#224;&#184;&#149;&#224;&#184;&#180;&#224;&#184;&#129;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#167;&#224;&#184;&#180;&#224;&#184;&#168;&#224;&#184;&#167;&#224;&#184;&#129;&#224;&#184;&#163;&#224;&#184;&#163;&#224;&#184;&#161;&#224;&#185;&#130;&#224;&#184;&#162;&#224;&#184;&#152;&#224;&#184;&#178;&#224;&#185;&#129;&#224;&#184;&#165;&#224;&#184;&#176; &#224;&#184;&#170;&#224;&#184;&#180;&#224;&#185;&#136;&#224;&#184;&#135;&#224;&#185;&#129;&#224;&#184;&#167;&#224;&#184;&#148;&#224;&#184;&#165;&#224;&#185;&#137;&#224;&#184;&#173;&#224;&#184;&#161; : 55.32 kW" 
    fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="801" y="404.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23;&#xe1b;&#xe0f;&#xe34;&#xe1a;&#xe31;&#xe15;&#xe34;&#xe01;&#xe32;&#xe23;&#xe27;&#xe34;&#xe28;&#xe27;&#xe01;&#xe23;&#xe23;&#xe21;&#xe42;&#xe22;&#xe18;&#xe32;&#xe41;&#xe25;&#xe30;&#10;</tspan>
    <tspan x="801" y="423.058">&#xe2a;&#xe34;&#xe48;&#xe07;&#xe41;&#xe27;&#xe14;&#xe25;&#xe49;&#xe2d;&#xe21; : {{data['ENG030_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_4" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="801" y="445.785">Today Production : {{data['ENG030_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 114.48 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="801.004" y="472.785">Capacity : 114.48 kWp</tspan></text>
    </g>
    <path id="Vector 862_4" d="M794 455.5H1115.5L1142.5 379.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_4" d="M794 455.5H1115.5L1142.5 379.5" stroke="#074173" stroke-width="4"/>
    </g>
    <g id="Group 2117">
    <circle id="Ellipse 69_4" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1129 383)" stroke="#074173" stroke-width="4"/>
    <circle id="Ellipse 70_4" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1143 369)" fill="#074173"/>
    </g>
    </g>
    <g id="card_5">
    <g id="Group 2107">
    <g id="Group 2034_5">
    <rect id="Rectangle 902_5" x="1251.75" y="319.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#185;&#128;&#224;&#184;&#155;&#224;&#184;&#163;&#224;&#184;&#161;&#224;&#184;&#154;&#224;&#184;&#184;&#224;&#184;&#163;&#224;&#184;&#137;&#224;&#184;&#177;&#224;&#184;&#149;&#224;&#184;&#163; : 55.32 kW" 
    fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1258" y="340.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe40;&#xe1b;&#xe23;&#xe21;&#xe1a;&#xe38;&#xe23;&#xe09;&#xe31;&#xe15;&#xe23; : {{data['CEN032_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_5" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1258" y="378.785">Today Production : {{data['CEN032_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 239.76 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1258" y="408.785">Capacity : 239.76 kWp</tspan></text>
    </g>
    <path id="Vector 862_5" d="M1551.5 391.5H1232.5L1219 432" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_5" d="M1551.5 391.5H1232.5L1219 432" stroke="#9AB1BC" stroke-width="4"/>
    </g>
    <g id="Group 2118">
    <circle id="Ellipse 69_5" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1194 469)" stroke="#9AB1BC" stroke-width="4"/>
    <circle id="Ellipse 70_5" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1208 455)" fill="#9AB1BC"/>
    </g>
    </g>
    <g id="card_15" transform="translate(325, 50)">
      <g id="Group 2107">
      <g id="Group 2034_5">
      <rect id="Rectangle 902_5" x="1251.75" y="319.75" width="300.5" height="98.5" fill="#074173" fill-opacity="0.6" stroke="#074173" stroke-width="1.5"/>
      <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#185;&#128;&#224;&#184;&#155;&#224;&#184;&#163;&#224;&#184;&#161;&#224;&#184;&#154;&#224;&#184;&#184;&#224;&#184;&#163;&#224;&#184;&#137;&#224;&#184;&#177;&#224;&#184;&#149;&#224;&#184;&#163; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1258" y="340.058">อาคาร ประชาธิปก-รำไพพรรณี : {{data['INS009_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
      <text id="Today Production : 100.20 kwh_5" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1258" y="378.785">Today Production : {{data['INS009_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
      <text id="Capacity : 239.76 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1258" y="408.785">Capacity : 60.48 kWp</tspan></text>
      </g>
      <path id="Vector 862_5" d="M1551.5 391.5H1232.5L1219 432" stroke="white" stroke-width="2"/>
      <path class="effect" id="effect_5" d="M1551.5 391.5H1232.5L1219 432" stroke="#074173" stroke-width="4"/>
      </g>
      <g id="Group 2118">
      <circle id="Ellipse 69_5" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1194 469)" stroke="#074173" stroke-width="4"/>
      <circle id="Ellipse 70_5" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1208 455)" fill="#074173"/>
      </g>
    </g>
    <g id="card_16" transform="translate(325, 200)">
      <g id="Group 2107">
      <g id="Group 2034_5">
      <rect id="Rectangle 902_5" x="1251.75" y="319.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
      <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#185;&#128;&#224;&#184;&#155;&#224;&#184;&#163;&#224;&#184;&#161;&#224;&#184;&#154;&#224;&#184;&#184;&#224;&#184;&#163;&#224;&#184;&#137;&#224;&#184;&#177;&#224;&#184;&#149;&#224;&#184;&#163; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1258" y="340.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe21;&#xe2b;&#xe34;&#xe15;&#xe25;&#xe32;&#xe18;&#xe34;&#xe40;&#xe1a;&#xe28;&#xe23; : {{data['CEN068_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
      <text id="Today Production : 100.20 kwh_5" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1258" y="378.785">Today Production : {{data['CEN068_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
      <text id="Capacity : 239.76 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1258" y="408.785">Capacity : 166.32 kWp</tspan></text>
      </g>
      <path id="Vector 862_5" d="M1551.5 391.5H1232.5L1219 432" stroke="white" stroke-width="2"/>
      <path class="effect" id="effect_5" d="M1551.5 391.5H1232.5L1219 432" stroke="#9AB1BC" stroke-width="4"/>
      </g>
      <g id="Group 2118">
      <circle id="Ellipse 69_5" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1194 469)" stroke="#9AB1BC" stroke-width="4"/>
      <circle id="Ellipse 70_5" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1208 455)" fill="#9AB1BC"/>
      </g>
    </g>
    <g id="card_6">
    <g id="Group 2109">
    <g id="Group 2034_6">
    <rect id="Rectangle 902_6" x="871.75" y="11.75" width="300.5" height="98.5" fill="#074173" fill-opacity="0.6" stroke="#074173" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#185;&#128;&#224;&#184;&#136;&#224;&#184;&#163;&#224;&#184;&#180;&#224;&#184;&#141;&#224;&#184;&#167;&#224;&#184;&#180;&#224;&#184;&#168;&#224;&#184;&#167;&#224;&#184;&#129;&#224;&#184;&#163;&#224;&#184;&#163;&#224;&#184;&#161; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="878" y="32.0576">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe40;&#xe08;&#xe23;&#xe34;&#xe0d;&#xe27;&#xe34;&#xe28;&#xe27;&#xe01;&#xe23;&#xe23;&#xe21; : {{data['ENG028_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_6" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="878" y="70.7852">Today Production : {{data['ENG028_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 71.28 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="878.004" y="100.785">Capacity : 71.28 kWp</tspan></text>
    </g>
    <path id="Vector 862_6" d="M871 83.5H1192L1219 185.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_6" d="M871 83.5H1192L1219 185.5" stroke="#074173" stroke-width="4"/>
    </g>
    <g id="Group 2119">
    <circle id="Ellipse 69_6" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1203 223)" stroke="#074173" stroke-width="4"/>
    <circle id="Ellipse 70_6" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1217 209)" fill="#074173"/>
    </g>
    </g>
    <g id="card_7">
    <g id="Group 2110">
    <g id="Group 2034_7">
    <rect id="Rectangle 902_7" x="1345.75" y="32.75" width="300.5" height="98.5" fill="#202020" fill-opacity="0.6" stroke="black" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#155;&#224;&#184;&#143;&#224;&#184;&#180;&#224;&#184;&#154;&#224;&#184;&#177;&#224;&#184;&#149;&#224;&#184;&#180;&#224;&#184;&#129;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#163;&#224;&#184;&#167;&#224;&#184;&#161; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1352" y="53.0576">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe1b;&#xe0f;&#xe34;&#xe1a;&#xe31;&#xe15;&#xe34;&#xe01;&#xe32;&#xe23;&#xe23;&#xe27;&#xe21;  : {{data['_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_7" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1352" y="91.7852">Today Production : {{data['_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 172.80 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1352" y="121.785">Capacity : 172.80 kWp</tspan></text>
    </g>
    <path id="Vector 862_7" d="M1645.5 104.5H1325V268.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_7" d="M1645.5 104.5H1325V268.5" stroke="black" stroke-width="4"/>
    </g>
    <g id="Group 2120">
    <circle id="Ellipse 69_7" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1305 305)" stroke="black" stroke-width="4"/>
    <circle id="Ellipse 70_7" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1319 291)" fill="black"/>
    </g>
    </g>
    <g id="card_8">
    <g id="Group 2108">
    <g id="Group 2034_8">
    <rect id="Rectangle 902_8" x="1591.75" y="170.75" width="300.5" height="98.5" fill="#074173" fill-opacity="0.6" stroke="#074173" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#136;&#224;&#184;&#173;&#224;&#184;&#148;&#224;&#184;&#163;&#224;&#184;&#150;3 : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1598" y="191.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe08;&#xe2d;&#xe14;&#xe23;&#xe16;3 : {{data['CEN093_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_8" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1598" y="229.785">Today Production : {{data['CEN093_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 162.00 kWp_2" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1598" y="259.785">Capacity : 162.00 kWp</tspan></text>
    </g>
    <path id="Vector 862_8" d="M1891.5 242.5H1571V317.5H1639.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_8" d="M1891.5 242.5H1571V317.5H1639.5" stroke="#074173" stroke-width="4"/>
    </g>
    <g id="Group 2121">
    <circle id="Ellipse 69_8" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1637 338)" stroke="#074173" stroke-width="4"/>
    <circle id="Ellipse 70_8" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1651 324)" fill="#074173"/>
    </g>
    </g>
    <!-- <g id="card_9">
    <g id="Group 2101">
    <g id="Group 2034_9">
    <rect id="Rectangle 902_9" x="1591.75" y="490.75" width="300.5" height="98.5" fill="#074173" fill-opacity="0.6" stroke="#074173" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#155;&#224;&#184;&#163;&#224;&#184;&#176;&#224;&#184;&#138;&#224;&#184;&#178;&#224;&#184;&#152;&#224;&#184;&#180;&#224;&#184;&#155;&#224;&#184;&#129;-&#224;&#184;&#163;&#224;&#184;&#179;&#224;&#185;&#132;&#224;&#184;&#158;&#224;&#184;&#158;&#224;&#184;&#163;&#224;&#184;&#163;&#224;&#184;&#147;&#224;&#184;&#181; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1598" y="511.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe1b;&#xe23;&#xe30;&#xe0a;&#xe32;&#xe18;&#xe34;&#xe1b;&#xe01;-&#xe23;&#xe33;&#xe44;&#xe1e;&#xe1e;&#xe23;&#xe23;&#xe13;&#xe35; : {{data['_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_9" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1598" y="549.785">Today Production : {{data['_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 60.48 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1598" y="579.785">Capacity : 60.48 kWp</tspan></text>
    </g>
    <path id="Vector 862_9" d="M1891.5 562.5H1571L1557 495.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_9" d="M1891.5 562.5H1571L1557 495.5" stroke="#074173" stroke-width="4"/>
    </g>
    <g id="Group 2122">
    <circle id="Ellipse 69_9" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1533 500)" stroke="#074173" stroke-width="4"/>
    <circle id="Ellipse 70_9" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1547 486)" fill="#074173"/>
    </g>
    </g> -->
    <g id="card_10" transform="translate(-100, -100)">
    <g id="Group 2100">
    <g id="Group 2034_10">
    <rect id="Rectangle 902_10" x="1126.75" y="732.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#185;&#128;&#224;&#184;&#168;&#224;&#184;&#163;&#224;&#184;&#169;&#224;&#184;&#144;&#224;&#184;&#168;&#224;&#184;&#178;&#224;&#184;&#170;&#224;&#184;&#149;&#224;&#184;&#163;&#224;&#185;&#140; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1133" y="752.558">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe40;&#xe28;&#xe23;&#xe29;&#xe10;&#xe28;&#xe32;&#xe2a;&#xe15;&#xe23;&#xe4c; : {{data['ECO001_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_10" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1133" y="791.285">Today Production : {{data['ECO001_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 265.68 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1133" y="821.285">Capacity : 265.68 kWp</tspan></text>
    </g>
    <path id="Vector 862_10" d="M1126 804H1446.5V749" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_10" d="M1126 804H1446.5V749" stroke="#9AB1BC" stroke-width="4"/>
    </g>
    <g id="Group 2123">
    <circle id="Ellipse 69_10" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1427 750)" stroke="#9AB1BC" stroke-width="4"/>
    <circle id="Ellipse 70_10" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1441 736)" fill="#9AB1BC"/>
    </g>
    </g>
    <!-- <g id="card_11">
    <g id="Group 2099">
    <g id="Group 2034_11">
    <rect id="Rectangle 902_11" x="1591.75" y="748.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#161;&#224;&#184;&#171;&#224;&#184;&#180;&#224;&#184;&#149;&#224;&#184;&#165;&#224;&#184;&#178;&#224;&#184;&#152;&#224;&#184;&#180;&#224;&#185;&#128;&#224;&#184;&#154;&#224;&#184;&#168;&#224;&#184;&#163; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1598" y="769.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe21;&#xe2b;&#xe34;&#xe15;&#xe25;&#xe32;&#xe18;&#xe34;&#xe40;&#xe1a;&#xe28;&#xe23; : {{data['_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_11" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1598" y="807.785">Today Production : {{data['_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 166.32 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1598" y="837.785">Capacity : 166.32 kWp</tspan></text>
    </g>
    <path id="Vector 862_11" d="M1891.5 820.5H1569.5V696.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_11" d="M1891.5 820.5H1569.5V696.5" stroke="#9AB1BC" stroke-width="4"/>
    </g>
    <g id="Group 2124">
    <circle id="Ellipse 69_11" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 1550 698)" stroke="#9AB1BC" stroke-width="4"/>
    <circle id="Ellipse 70_11" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 1564 684)" fill="#9AB1BC"/>
    </g>
    </g> -->
    <g id="card_12">
    <g id="Group 2104">
    <g id="Group 2034_12">
    <rect id="Rectangle 902_12" x="452.75" y="427.75" width="300.5" height="98.5" fill="#455861" fill-opacity="0.6" stroke="#9AB1BC" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#185;&#129;&#224;&#184;&#150;&#224;&#184;&#154;&#224;&#184;&#153;&#224;&#184;&#181;&#224;&#184;&#165;&#224;&#184;&#176;&#224;&#184;&#153;&#224;&#184;&#180;&#224;&#184;&#152;&#224;&#184;&#180; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="459.5" y="448.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe41;&#xe16;&#xe1a;&#xe19;&#xe35;&#xe25;&#xe30;&#xe19;&#xe34;&#xe18;&#xe34; : {{data['SCI020_power']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kW</tspan></text>
    <text id="Today Production : 100.20 kwh_12" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="459.5" y="486.785">Today Production : {{data['SCI020_today']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'}} kWh</tspan></text>
    <text id="Capacity : 59.30 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="459.504" y="516.785">Capacity : 59.30 kWp</tspan></text>
    </g>
    <path id="Vector 862_12" d="M753 499.5H436L414 556" stroke="white" stroke-width="2"/>
    <path class="effect" id="effect_12" d="M753 498.5H436L414 555" stroke="#9AB1BC" stroke-width="4"/>
    </g>
    <g id="Group 2113">
    <circle id="Ellipse 69_12" cx="20" cy="20" r="18" transform="matrix(1 0 0 -1 390 592)" stroke="#9AB1BC" stroke-width="4"/>
    <circle id="Ellipse 70_12" cx="6.07895" cy="6.07895" r="6.07895" class="point" transform="matrix(1 0 0 -1 404 578)" fill="#9AB1BC"/>
    </g>
    </g>
    </g>
    <defs>
    <pattern id="pattern0_899_11017" patternContentUnits="objectBoundingBox" width="1" height="1">
    <use xlink:href="#image0_899_11017" transform="scale(0.000520833 0.000925926) translate(-50, -50)"/>
    </pattern>
    <image id="image0_899_11017" class="map-img" width="2560" height="1440" overflow="visible" xlink:href="assets/images/building/zone/southwest.png" />
    </defs>
    </svg>    
</div>