<!-- {{getPeakTime(data?.singleValue['power_peaktime']?.dataRecords[0]?.Value)}} -->
<div class="container-fluid">
  <div class="row-grid" [ngClass]="{'row-grid-meter': siteName.building}">
    <div class="siteInfoCard">
      <app-solar-container [title]="'SITE INFORMATION'">
        <ng-template #content>
          <app-site-information 
          [name]="siteName.name" 
          [imgName]="siteName.building ? 'janitza.png' : siteName.id+'.png'"
          [location]="'จุฬาลงกรณ์มหาวิทยาลัย'" 
          [capacityValue]="siteName.capacity"
          [capacityUnit]="'kWp'" 
          [cod]="data?.singleValue['siteCOD']?.dataRecords[0]?.Value" >
          </app-site-information>
        </ng-template>
      </app-solar-container>
    </div>
    
    <div class="powerCard" *ngIf="siteName.building ? true : false">
      <app-solar-container [title]="'POWER GENERATION'">
        <ng-template #content>
          <!-- <app-daily-consumption2 [title]="'ACTIVE POWER'" [expectText]="''" 
            [minValue]="data?.singleValue['power_value']?.minValue" 
            [maxValue]="data?.singleValue['power_value']?.maxValue"
            [actualValue]="data?.singleValue['power_value']?.dataRecords[0]?.Value" 
            [actualUnit]="data?.singleValue['power_value']?.unit"
            [expectValue]="data?.singleValue['power_expected']?.dataRecords[0]?.Value" 
            [expectUnit]="data?.singleValue['power_expected']?.unit"
            [g1Title]="'PEAK'" 
            [g1Value]="data?.singleValue['power_peak']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'" 
            [g1Unit]="data?.singleValue['power_peak']?.unit" 
            [g2Title]="'PEAK TIME'" 
            [g2Value]="getPeakTime(data?.singleValue['power_peaktime']?.dataRecords[0]?.Value)" 
            [g2Unit]=""
            [g3Title]="'SOLAR POWER'" 
            [g3Value]="getSumPowerValue() | myNumber : '1.0-2'" 
            [g3Unit]="'kW'" 
            [showArrow]="false" 
          ></app-daily-consumption2> -->
          <app-daily-consumption3 
            [minValue]="data?.singleValue['power_value']?.minValue" 
            [maxValue]="data?.singleValue['power_value']?.maxValue"
            [actualValue]="data?.singleValue['power_value']?.dataRecords[0]?.Value" 
            [actualUnit]="data?.singleValue['power_value']?.unit"
            [title]="'SOLAR POWER'"  
            [minValue2]="data?.singleValue['power_import']?.minValue" 
            [maxValue2]="data?.singleValue['power_import']?.maxValue"
            [actualValue2]="data?.singleValue['power_import']?.dataRecords[0]?.Value" 
            [actualUnit2]="data?.singleValue['power_import']?.unit"
            [title2]="'GRID POWER'" 
            [showArrow]="false" 
            ></app-daily-consumption3>
        </ng-template>
      </app-solar-container>       
    </div>

    <div class="powerCard" *ngIf="siteName.building ? false : true">
      <app-solar-container [title]="'POWER GENERATION'">
        <ng-template #content>
          <app-daily-consumption [title]="'ACTIVE POWER'" [expectText]="'EXPECTED'" 
          [minValue]="data?.singleValue['power_value']?.minValue" 
              [maxValue]="data?.singleValue['power_value']?.maxValue"
            [actualValue]="data?.singleValue['power_value']?.dataRecords[0]?.Value" 
            [actualUnit]="data?.singleValue['power_value']?.unit"
            [expectValue]="data?.singleValue['power_expected']?.dataRecords[0]?.Value" 
            [expectUnit]="data?.singleValue['power_expected']?.unit"
            [g1Title]="'PEAK'" 
            [g1Value]="data?.singleValue['power_peak']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2'" 
            [g1Unit]="data?.singleValue['power_peak']?.unit" 
            [g2Title]="'PEAK TIME'" 
            [g2Value]="getPeakTime(data?.singleValue['power_peaktime']?.dataRecords[0]?.Value)" 
            [g2Unit]=""
            [g3Title]="'CAPACITY'" 
            [g3Value]="((data?.singleValue['power_capacity']?.dataRecords[0]?.Value  | myNumber2 : '1.0-2')) | myNumber : '1.0-2'" 
            [g3Unit]="data?.singleValue['power_capacity']?.unit" 
            [g4Title]="'PR'" 
            [g4Value]="checkPRValue(data?.singleValue['power_pr']?.dataRecords[0]?.Value) | myNumber2 : '1.0-2'" 
            [g4Unit]="data?.singleValue['power_pr']?.unit"
            [showArrow]="true" 
            ></app-daily-consumption>
        </ng-template>
      </app-solar-container>       
    </div>
    
    <div class="energyCard" *ngIf="siteName.building ? false : true">
      <app-solar-container [title]="'ENERGY PRODUCTION'">
        <ng-template #content>
          <app-daily-consumption2 [title]="'TODAY ENERGY'" [expectText]="'EXPECTED'" 
            [minValue]="0" 
            [maxValue]="data?.singleValue['energy_today']?.maxValue"
            [actualValue]="data?.singleValue['energy_today']?.dataRecords[0]?.Value" 
            [actualUnit]="data?.singleValue['energy_today']?.unit" 
            [g1Title]="'TODAY'"
            [g1Value]="data?.singleValue['energy_today']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [g1Unit]="data?.singleValue['energy_today']?.unit" 
            [g3Title]="'YEARLY'" 
            [g3Value]="data?.singleValue['energy_yesterday']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [g3Unit]="data?.singleValue['energy_yesterday']?.unit" 
            [g2Title]="'MONTHLY'"
            [g2Value]="data?.singleValue['energy_mtd']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [g2Unit]="data?.singleValue['energy_mtd']?.unit"
            [g4Title]="'COD'" 
            [g4Value]="(data?.singleValue['energy_cod']?.dataRecords[0]?.Value /1000) | myNumber : '1.0-2'"
            [g4Unit]="'MWh'" 
            [showArrow]="false" 
            ></app-daily-consumption2>
        </ng-template>
      </app-solar-container>
    </div>

    <div class="energyCard" *ngIf="siteName.building ? true : false">
      <app-solar-container [title]="'ENERGY PRODUCTION'">
        <ng-template #content>
          <app-daily-consumption2 [title]="'TODAY ENERGY'" 
          [expectText]=""  
          [minValue]="0" 
          [maxValue]="data?.singleValue['energy_today']?.maxValue"
            [actualValue]="data?.singleValue['energy_today']?.dataRecords[0]?.Value" 
            [actualUnit]="data?.singleValue['energy_today']?.unit" 
            [g2Title]="'YEARLY'" 
            [g2Value]="data?.singleValue['energy_yesterday']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [g2Unit]="data?.singleValue['energy_yesterday']?.unit" 
            [g1Title]="'MONTHLY'"
            [g1Value]="data?.singleValue['energy_mtd']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [g1Unit]="data?.singleValue['energy_mtd']?.unit"
            [g3Title]="'COD'" 
            [g3Value]="(data?.singleValue['energy_cod']?.dataRecords[0]?.Value /1000) | myNumber : '1.0-2'"
            [g3Unit]="'MWh'" 
            [showArrow]="false" 
            ></app-daily-consumption2>
        </ng-template>
      </app-solar-container>
    </div>

    <div class="weatherCard">
      <app-solar-container [title]="'WEATHER'">
        <ng-template #content>
          <app-daily-consumption2 [title]="'IRRADIATION'" 
            [expectText]="" 
            [minValue]="0" 
            [maxValue]="1600"
            [actualValue]="data?.singleValue['weather_irr']?.dataRecords[0]?.Value | myNumber : '1.0-0'" 
            [actualUnit]="data?.singleValue['weather_irr']?.unit" 
            [expectValue]="300" 
            [expectUnit]="'kW'" 
            [showArrow]="false"
            [g2Title]="'AMB.TEMP'"
            [g2Value]="data?.singleValue['weather_amb']?.dataRecords[0]?.Value | myNumber2 : '1.0-0'" 
            [g2Unit]="data?.singleValue['weather_amb']?.unit" 
            [g1Title]="'PV TEMP'" 
            [g1Value]="data?.singleValue['weather_pv']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [g1Unit]="data?.singleValue['weather_pv']?.unit" 
            [g3Title]="'IRR. TODAY'" 
            [g3Value]="data?.singleValue['weather_irrtoday']?.dataRecords[0]?.Value | myNumber2 : '1.0-0'" 
            [g3Unit]="data?.singleValue['weather_irrtoday']?.unit" 
            [r2g2Title]="'LEVEL2'"
            [r2g2Value]="data?.singleValue['weather_co2']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [r2g2Unit]="data?.singleValue['weather_co2']?.unit"
            [r2g2vTitle]="'LEVEL2 VOL'"
            [r2g2vValue]="data?.singleValue['level2_VOL']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'" 
            [r2g2vUnit]="data?.singleValue['level2_VOL']?.unit" 
            ></app-daily-consumption2>
        </ng-template>
      </app-solar-container>
    </div>
  
    <div class="powerChartCard">
      <app-solar-container [title]="!siteName.building ? 'SOLAR POWER GENERATION VS. IRRADIANCE' : 'SOLAR POWER VS. MEA POWER' ">
        <ng-template #period>
          <!-- <app-period (select)="selectPeriod($event, 'powerGeneration')" [disableButton]="disableButton" [periodSelected]="periodSelected" [periods]="periods" #period1></app-period> -->
          <div class="date-box w-100">
            <app-time-control [pickerType]="'calendar'" [startView]="getStartView(periodGroupSelected1?.Type)" style="margin-right: 21px;" (selectDatetime)="onDateTimeChange($event, '1')"
             [dateTime]="dateTime1"></app-time-control>
            <!-- <span class="btn-ok " style="margin-right: 14px;" (click)="selectPeriodChart(periodGroupSelected1, 'powerGeneration', dateTime1)">OK</span> -->
            <app-date-control [disableButton]="disableButton" [periodSelected]="periodGroupSelected1" [periodNames]="periodGroup" (select)="selectedPeriodGroup($event, '1')" #period1 ></app-date-control>
          </div>
        </ng-template>

        <ng-template #content>
          <div class="chart-content"  [ngClass]="{'loading': disableButton && chartSelected == 'powerGeneration'}">
            <app-sat-chart [chartParameters]="chartOptions['powerGeneration']"></app-sat-chart>
          </div>
        </ng-template>
      </app-solar-container>
    </div>

    <div class="energyChartCard">
      <app-solar-container [title]="!siteName.building ? 'SOLAR ENERGY GENERATION' : 'SOLAR POWER GENERATION'">
        <ng-template #period>
          <!-- <app-period (select)="selectPeriod($event, 'energyExported')" [disableButton]="disableButton" [periodSelected]="periodSelected" [periods]="periods" #period2></app-period> -->
          <div class="date-box w-100">
            <app-time-control [pickerType]="'calendar'" [startView]="getStartView(periodGroupSelected2?.Type)" style="margin-right: 21px;" (selectDatetime)="onDateTimeChange($event, '2')"
             [dateTime]="dateTime2"></app-time-control>
            <!-- <span class="btn-ok " style="margin-right: 14px;" (click)="selectPeriodChart(periodGroupSelected2, 'energyExported', dateTime2)">OK</span> -->
            <app-date-control [disableButton]="disableButton" [periodSelected]="periodGroupSelected2" [periodNames]="periodGroup" (select)="selectedPeriodGroup($event, '2')" #period2 ></app-date-control>
          </div>
        </ng-template>

        <ng-template #content>
          <div class="chart-content" [ngClass]="{'loading': disableButton && chartSelected == 'energyExported'}">
            <app-sat-chart [chartParameters]="chartOptions['energyExported']"></app-sat-chart>
          </div>
        </ng-template>
      </app-solar-container>
    </div>
  
    <div class="prChartCard" *ngIf="!siteName.building">
      <app-solar-container [title]="'PERFORMANCE RATIO'">
        <ng-template #period>
          <!-- <app-period (select)="selectPeriod($event, 'performanceRatio')" [disableButton]="disableButton" [periodSelected]="periodSelected" [periods]="periods" #period3></app-period> -->
          <div class="date-box w-100">
            <app-time-control [pickerType]="'calendar'" [startView]="getStartView(periodGroupSelected3?.Type)" style="margin-right: 21px;" (selectDatetime)="onDateTimeChange($event, '3')"
             [dateTime]="dateTime3"></app-time-control>
            <!-- <span class="btn-ok " style="margin-right: 14px;" (click)="selectPeriodChart(periodGroupSelected3, 'performanceRatio', dateTime3)">OK</span> -->
            <app-date-control [disableButton]="disableButton" [periodSelected]="periodGroupSelected3" [periodNames]="periodGroup" (select)="selectedPeriodGroup($event, '3')" #period3 ></app-date-control>
          </div>
        </ng-template>
        <ng-template #content>
          <div class="chart-content" [ngClass]="{'loading': disableButton && chartSelected == 'performanceRatio'}" >
            <app-sat-chart [chartParameters]="chartOptions['performanceRatio']"></app-sat-chart>
          </div>
        </ng-template>
      </app-solar-container>
    </div>

    <div class="invertersChartCard">
      <app-solar-container [title]="'ENERGY GENERATION BY INVERTERS'">
        <ng-template #period>
          <!-- <app-period (select)="selectPeriodInverter($event, 'interverEnergy')" [disableButton]="disableButton" [periodSelected]="periodSelected" [periods]="periods" #period4></app-period> -->
          <div class="date-box w-100">
            <app-time-control [pickerType]="'calendar'" [startView]="getStartView(periodGroupSelected4?.Type)" style="margin-right: 21px;" (selectDatetime)="onDateTimeChange($event, '4')"
             [dateTime]="dateTime3"></app-time-control>
            <!-- <span class="btn-ok " style="margin-right: 14px;" (click)="selectPeriodInverterChart(periodGroupSelected4, 'interverEnergy', dateTime4)">OK</span> -->
            <app-date-control [disableButton]="disableButton" [periodSelected]="periodGroupSelected4" [periodNames]="periodGroup" (select)="selectedPeriodGroup($event, '4')" #period4 ></app-date-control>
          </div>
        </ng-template>
        <ng-template #content>
          <div class="chart-content"  [ngClass]="{'loading': disableButton && chartSelected == 'interverEnergy'}">
            <app-sat-chart [chartParameters]="chartOptions['interverEnergy']"></app-sat-chart>
          </div>
        </ng-template>
      </app-solar-container>
    </div>

  </div>
</div>

<!-- <button (click)="cancleTimer()">click</button> -->