<!-- {{getPeakTime(data?.singleValue['power_peaktime']?.dataRecords[0]?.Value)}} -->
<div class="container-fluid">
  <div class="row-grid" *ngIf="zoneList">
    <section class="summary-card">
      <div class="power-content" >
        <app-solar-container [title]="'TOTAL POWER'">
          <ng-template #content>
            <div class="progressbox d-flex-ct">
              <div class="progressbar" >
                <app-circle-progress [Ids]="'00'" 
                [title]="'POWER'" 
                [unit]="'kW'" 
                [value]="data?.singleValue['today_power']?.dataRecords[0]?.Value | myNumber2 : '1.0-2'"
                [maxValue]="data?.singleValue['today_power']?.maxValue"
                [titleFont]="'22'"
                [valueFont]="'36'"
                [unitFont]="'22'"
                [percentValue]="1"></app-circle-progress>
              </div>
            </div>
          </ng-template>
        </app-solar-container>
      </div>
      <div class="energy-content">
        <app-solar-container [title]="'TOTAL ENERGY'">
          <ng-template #content>
            <div class="energy-item">
              <div class="topic">TODAY</div>
              <div class="value">{{data?.singleValue['today_energy']?.dataRecords[0]?.Value | myNumber2 : '1.0-0'}}</div>
              <div class="unit">{{data?.singleValue['today_energy']?.unit}}</div>
              <div class="topic">TOTAL</div>
              <div class="value">{{data?.singleValue['total_energy']?.dataRecords[0]?.Value | myNumber2 : '1.0-0'}}</div>
              <div class="unit">{{data?.singleValue['total_energy']?.unit}}</div>
            </div>
          </ng-template>
        </app-solar-container>
      </div>
      <div class="map-content">
        <app-solar-container [title]="'SITE LOCATIONS'">
          <ng-template #content>
            <img src="assets/images/CU3Dmap.png" alt="" width="100%" height="100%">
          </ng-template>
        </app-solar-container>
      </div>
      <div class="chart-content">
        <app-solar-container [title]="'TOTAL POWER CHART'">
          <ng-template #content>
            <div class="chart-content ">
              <app-sat-chart2 [height]="'100px'" [chartParameters]="chartOptions['allzoneGeneration']"></app-sat-chart2>
            </div>
          </ng-template>
        </app-solar-container>
      </div>
    </section>
    <section class="site-card" *ngFor="let item of zoneList;">
      <div class="site-content ">
          <div class="site-info " (click)="routNavigate(item.name)">
            <div class="site-img "><img src="assets/images/building/dashboard/janitza.png" alt="" ></div>
            <div class="site-topic">
              <p class="zone no-pm">{{item.name}}</p>    
              <div class="longlist-container bz"><p class="tlist" [id]="item.building.length > 2 ? 'zone1': ''">{{getSiteTxt(item.building)}} </p></div>     
              <p class="capacity no-pm">{{item.capacity}} kWp</p>
              <p class="location no-pm">จุฬาลงกรณ์มหาวิทยาลัย</p>
            </div>
          </div>
          <div class="progress-group ">
            <div class="site-progress "><app-circle-progress [Ids]="item.project" 
              [title]="'MEA'"
              [value]="data?.singleValue[item.project+'_mea']?.dataRecords[0]?.Value | myNumber : '1.0-2'"
              [unit]="'kW'"
              [maxValue]="data?.singleValue[item.project+'_mea']?.maxValue"
              [percentValue]="setValueBar(data?.singleValue[item.project+'_mea']?.dataRecords[0]?.Value,data?.singleValue[item.project+'_mea']?.maxValue)|| 0"></app-circle-progress></div>
            <div class="site-progress "><app-circle-progress [Ids]="item.project+'03'" 
                [title]="'SOLAR'"
                [value]="data?.singleValue[item.project+'_solar']?.dataRecords[0]?.Value | myNumber : '1.0-2'"
                [unit]="'kW'"
                [maxValue]="data?.singleValue[item.project+'_solar']?.maxValue"
                [percentValue]="setValueBar(data?.singleValue[item.project+'_solar']?.dataRecords[0]?.Value,data?.singleValue[item.project+'_solar']?.maxValue)|| 0"></app-circle-progress></div>
            <div class="site-progress "><app-circle-progress [Ids]="item.project+'02'" 
              [title]="'PRODUCE'"
              [value]="data?.singleValue[item.project+'_energy']?.dataRecords[0]?.Value | myNumber : '1.0-2'"
              [unit]="data?.singleValue[item.project+'_energy']?.unit"
              [maxValue]="data?.singleValue[item.project+'_energy']?.maxValue"
              [percentValue]="setValueBar(data?.singleValue[item.project+'_energy']?.dataRecords[0]?.Value,data?.singleValue[item.project+'_energy']?.maxValue)|| 0"></app-circle-progress></div>
            <div class="site-progress "><app-circle-progress [Ids]="item.project+'04'" 
              [title]="'PYRANO'"
              [value]="data?.singleValue[item.project+'_irr']?.dataRecords[0]?.Value | myNumber : '1.0-2'"
              [unit]="data?.singleValue[item.project+'_irr']?.unit"
              [maxValue]="data?.singleValue[item.project+'_irr']?.maxValue"
              [percentValue]="setValueBar(data?.singleValue['zone4_irr']?.dataRecords[0]?.Value,data?.singleValue[item.project+'_irr']?.maxValue)|| 0"></app-circle-progress></div>
            <div class="site-progress "><app-circle-progress [Ids]="item.project+'05'" 
              [title]="'PVTEMP'"
              [value]="data?.singleValue[item.project+'_pv']?.dataRecords[0]?.Value | myNumber : '1.0-2'"
              [unit]="data?.singleValue[item.project+'_pv']?.unit"
              [maxValue]="data?.singleValue[item.project+'_pv']?.maxValue"
              [percentValue]="setValueBar(data?.singleValue[item.project+'_pv']?.dataRecords[0]?.Value,data?.singleValue[item.project+'_pv']?.maxValue)|| 0"></app-circle-progress></div>
            <div class="site-progress "><app-circle-progress [Ids]="item.project+'06'" 
              [title]="'AMBTEMP'"
              [value]="data?.singleValue[item.project+'_amb']?.dataRecords[0]?.Value | myNumber : '1.0-2'"
              [unit]="data?.singleValue[item.project+'_amb']?.unit"
              [maxValue]="data?.singleValue[item.project+'_amb']?.maxValue"
              [percentValue]="setValueBar(data?.singleValue[item.project+'_amb']?.dataRecords[0]?.Value,data?.singleValue[item.project+'_amb']?.maxValue)|| 0"></app-circle-progress></div>
          </div>
          <div class="site-chart ">
            <app-sat-chart2 *ngIf="chartOptions[item.project]" [height]="'100px'" [chartParameters]="chartOptions[item.project]"></app-sat-chart2>
          </div>
      </div>
    </section>
  </div>
</div>
