.container-group {
    min-height: 190px;
}

@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

@keyframes scale-up-ver-bottom {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 8px;
    row-gap: 8px;
    box-sizing: border-box;
    //border: 2px solid rgb(255, 0, 0);
}

.row-grid {
    height: 100%;
    //border: 2px solid rgb(255, 0, 0);
    display: grid;
    row-gap: 7px;
    grid-template-rows: repeat(1, 2fr) repeat(6, 1fr);
    box-sizing: border-box;

}

.summary-card {
    //border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(1, 1.5fr);
    grid-template-rows: 1fr;
    column-gap: 8px;
    grid-template-areas:
        'power energy map chart';
    box-sizing: border-box;
}

.site-card {
    //border: 1px solid rgb(51, 253, 0);
    background-color: #f8f8f8;
    width: 100%;
    box-sizing: border-box;
}

.chart-content {
    height: 100%;
}

.energy-content {
    .energy-item {
        width: 100%;
        height: 100%;
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px;

        .topic {
            font-size: 16px;
            font-weight: 500;
        }

        .value {
            font-size: 36px;
            font-weight: 500;
            color: #3DB1FC;
        }

        .unit {
            font-size: 12px;
            font-weight: 500;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,95% {
        opacity: 1;
    }

     100% {
        transform: translateX(-300%);
        opacity: 0;
    }
}
@keyframes marquee2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,95% {
        opacity: 1;
    }

     100% {
        transform: translateX(-600%);
        opacity: 0;
    }
}
@keyframes marquee3 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,95% {
        opacity: 1;
    }

     100% {
        transform: translateX(-300%);
        opacity: 0;
    }
}
@keyframes marquee4 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,95% {
        opacity: 1;
    }

     100% {
        transform: translateX(-500%);
        opacity: 0;
    }
}
@keyframes marquee5 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,95% {
        opacity: 1;
    }

     100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes marquee6 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,95% {
        opacity: 1;
    }

     100% {
        transform: translateX(-400%);
        opacity: 0;
    }
}
@keyframes marquee7 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,95% {
        opacity: 1;
    }

     100% {
        transform: translateX(-200%);
        opacity: 0;
    }
}
.longlist-container {
    width: 250px;
    height: auto;
    overflow: hidden;
}

.site-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;

    .site-info {
        display: flex;
        column-gap: 8px;
        height: 100%;
        background-color: #f8f8f8;

        .site-img {
            height: 100%;
            padding: 5px;
            display: flex;
            place-items: center;

            img {
                max-height: 120px;
                width: auto;
                height: 100px;
            }
        }

        .site-topic {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .zone {
                font-size: 24px;
                font-weight: 500;
                color: #3DB1FC;
            }

            .tlist {
                white-space: nowrap;
                animation: linear infinite;
                font-size: 14px;
                font-style: italic;
                color: #ff7b00;
            }
            #zone1{
                animation-name: marquee;
                animation-duration: 20s;
            }

            .capacity {
                font-size: 12px;
            }

            .location {
                font-size: 12px;
                font-weight: 500;
                color: #3DB1FC;
            }
        }
    }

    .progress-group {
        box-sizing: border-box;
        height: 100%;
        width: 50%;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(6, 1fr);
        background-color: #f8f8f8;

        .site-progress {
            width: 90px;
            height: 90px;
        }
    }

    .site-chart {
        background-color: #f8f8f8;
        min-width: 30%;
        height: 100%;
    }
}

.progressbox {
    width: 100%;
    height: 100%;

    .progressbar {
        width: 180px;
        height: 180px;
    }
}

.chart-content {
    grid-area: chart;
}

.map-content {
    grid-area: map;
}

.energy-content {
    grid-area: energy;
}

.power-content {
    grid-area: power;
}

.site-info {
    grid-area: info;
}

.progress-group {
    grid-area: cir;
}

.site-chart {
    grid-area: charts;
}

@media screen and (max-width:1365px) {

    .row-grid {
        row-gap: 8px;
    }

    .summary-card {
        //border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 8px;
        grid-template-areas:
            'power energy map'
            'chart chart chart';
        box-sizing: border-box;
    }

    .site-card {
        .site-content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            column-gap: 8px;
            row-gap: 8px;
            grid-template-areas:
                'info cir'
                'charts charts';

            .progress-group {
                width: 100%;
                grid-template-columns: repeat(6, 1fr);

                .site-progress {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }

}

@media screen and (max-width:1024px) {

    .container-fluid {
        min-height: 100vh;
    }

    .row-grid {
        min-height: 100vh;
        row-gap: 8px;
    }

    .summary-card {
        //border: 1px solid white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 8px;
        row-gap: 8px;
        grid-template-areas:
            'power '
            'energy '
            'map'
            'chart';
        box-sizing: border-box;
    }

    .site-card {
        background-color: #3e94c0;

        .site-content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;
            column-gap: 8px;
            row-gap: 4px;
            grid-template-areas:
                'info'
                'cir'
                'charts';

            .progress-group {
                width: 100%;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .site-progress {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
}