.container-box{
    background-image: radial-gradient(circle, rgba(34, 181, 190, 1) 0%, rgba(22, 20, 100, 1) 100%);
    box-sizing: border-box;
    padding: 8px;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}
.content-box{
    display: grid;
    grid-template-columns: 1fr;
    //grid-auto-rows: auto minmax(200px, 250px);
    grid-template-rows: auto auto;
    row-gap: 8px;

}
.group-box{
    display: grid;
    grid-template-columns: 500px calc(100vw - 524px);
    grid-template-rows: 1fr;
    column-gap: 8px;
}
.left-box{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
}

.right-box{
    max-width: calc(100vw - 24px);
    overflow: hidden;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}
.h-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    // height: 100%;
    .th{
        font-size: 28px;
        color: white;
    }
    .en{
        font-size: 20px;
        color: #b2b3b4;
    }
}


.mapContent{
    position: relative;
    overflow: hidden;
    .mapImg{
        padding: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}

.chart-container{
    padding: 8px;
    row-gap: 8px;
    display: grid;
    grid-template-rows: 24px calc(100% - 48px);
}
.cardTopic{
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.cardContent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-template-rows: 1fr;
    height: 220px;
}
.chartBox{
    height: 220px;
    padding: 0px 0px;
    box-sizing: border-box;
}
.zoneCard{
    cursor: pointer;
}

.extend-box{
    .left-box{
        display: none;
    }
    .building-box{
        display: none;
    }
    .right-box{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.headerCard-full{
    position: absolute;
    bottom: 3%;
    right: 1.5%;
    z-index: 15;
    background-color: rgba(20, 55, 100, 0.267);
    //background-image: radial-gradient(circle, rgba(34, 181, 190, 0.9) 0%, rgba(22, 20, 100, 0.9) 100%);
    .headerContent1{
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding: 18px;
    }
    
    .h-info{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        // height: 100%;
        .th{
            font-size: 28px;
            color: white;
        }
        .en{
            font-size: 20px;
            color: #f1f1f1;
        }
    }
}

@media screen and (max-width: 500px) {
    .group-box{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        column-gap: 8px;
    }

    .right-box{
        display: none;
    }
}