#card1{
    position: absolute;
    top: 8%;
    left: 15%;
    z-index: 6;
}
#card2{
    position: absolute;
    top: 2%;
    left: 50%;
    z-index: 5;
}
#card3{
   
    position: absolute;
    top: 45%;
    left: 75%;
    z-index: 6;
}
#card4{
    position: absolute;
    top: 15%;
    left: 72%;
    z-index: 5;
}
#card5{
    
    position: absolute;
    top: 72%;
    left: 18%;
    z-index: 5;
}
#card6{
    //border: 1px solid red;
    position: absolute;
    top: 45%;
    left: 7%;
    z-index: 5;
}
#card7{
    position: absolute;
    top: 75%;
    left: 58%;
    z-index: 5;
}