.x1{
    position: absolute;
    width: 10%;
    height: 23%;
    left: 4.5%;
    bottom: 21%;
    z-index: 5;
    opacity: 0;
}
.x1:hover{
    
}
.x2{
    position: absolute;
    width: 6%;
    height: 10%;
    left: 11.25%;
    bottom: 33%;
    z-index: 5;
    opacity: 0;
}
.x2:hover{
    
}
.x3{
    position: absolute;
    width: 6%;
    height: 10%;
    left: 17.75%;
    bottom: 37.25%;
    z-index: 5;
    opacity: 0;
}
.x3:hover{
    
}
.x4{
    position: absolute;
    width: 7%;
    height: 13%;
    left: 28.25%;
    bottom: 32.75%;
    z-index: 5;
    opacity: 0;
}
.x4:hover{
    
}
.x5{
    
    position: absolute;
    width: 12%;
    height: 17%;
    left: 32%;
    bottom: 39%;
    z-index: 5;
    opacity: 0;
}
.x5:hover{
    
}
.x6{
    position: absolute;
    width: 13%;
    height: 20%;
    left: 33%;
    bottom: 17%;
    z-index: 5;
    opacity: 0;
}
.x6:hover{
    
}
.x7{
    
    position: absolute;
    width: 10%;
    height: 20%;
    left: 49.75%;
    bottom: 24.5%;
    z-index: 5;
    opacity: 0;
}
.x7:hover{
    
}
.x8{
    
    position: absolute;
    width: 8%;
    height: 15%;
    left: 38.75%;
    bottom: 1%;
    z-index: 5;
    opacity: 0;
}
.x8:hover{
    
}
.x9{
   
    position: absolute;
    width: 4%;
    height: 8%;
    left: 7.5%;
    bottom: 45%;
    z-index: 5;
    opacity: 0;
}
.x9:hover{
    
}
.x10{
   
    position: absolute;
    width:6%;
    height: 11%;
    left: 10.75%;
    bottom: 43.5%;
    z-index: 5;
    opacity: 0;
}
.x10:hover{
    
}
.x11{
    
    position: absolute;
    width: 5%;
    height: 11%;
    left: 13.75%;
    bottom: 52%;
    z-index: 5;
    opacity: 0;
}
.x11:hover{
    
}
.x12{
   
    position: absolute;
    width: 6%;
    height: 10%;
    left: 20.75%;
    bottom: 45.25%;
    z-index: 5;
    opacity: 0;
}
.x12:hover{
    
}
.x13{
    
    position: absolute;
    width: 7%;
    height: 11%;
    left: 26%;
    bottom: 50%;
    z-index: 5;
    opacity: 0;
}
.x13:hover{
    
}
.x14{
   
    position: absolute;
    width: 4%;
    height: 8%;
    left: 32%;
    bottom: 59%;
    z-index: 5;
    opacity: 0;
}
.x14:hover{
    
}
.x15{
  
    position: absolute;
    width: 3.5%;
    height: 6%;
    left: 21.55%;
    bottom: 71%;
    z-index: 5;
    opacity: 0;
}
.x15:hover{
    
}
.x16{
    
    position: absolute;
    width: 2.5%;
    height: 4%;
    left: 23.75%;
    bottom: 76.75%;
    z-index: 5;
    opacity: 0;
}
.x16:hover{
    
}
.x17{
  
    position: absolute;
    width: 16%;
    height: 18%;
    left: 28.25%;
    bottom: 75.5%;
    z-index: 5;
    opacity: 0;
}
.x17:hover{
    
}
.x18{
  
    position: absolute;
    width: 5%;
    height: 10%;
    left: 40.85%;
    bottom: 61.25%;
    z-index: 5;
    opacity: 0;
}
.x18:hover{
    
}
.x19{
   
    position: absolute;
    width: 6%;
    height: 12%;
    left: 48.5%;
    bottom: 69%;
    z-index: 5;
    opacity: 0;
}
.x19:hover{
    
}
.x20{
    
    position: absolute;
    width: 3.5%;
    height: 9%;
    left: 62.75%;
    bottom: 65%;
    z-index: 5;
    opacity: 0;
}
.x20:hover{
    
}
.x21{
    
    position: absolute;
    width: 3%;
    height: 8%;
    left: 59.5%;
    bottom: 54%;
    z-index: 5;
    opacity: 0;
}
.x21:hover{
    
}
.x22{
  
    position: absolute;
    width: 8%;
    height: 18%;
    left: 73.5%;
    bottom: 61.5%;
    z-index: 5;
    opacity: 0;
}
.x22:hover{
    
}
.x23{
    
    position: absolute;
    width: 8%;
    height: 17%;
    left: 79%;
    bottom: 55.5%;
    z-index: 5;
    opacity: 0;
}
.x23:hover{
    
}
.x24{
    
    position: absolute;
    width: 4%;
    height: 9%;
    left: 86.5%;
    bottom: 60.5%;
    z-index: 5;
    opacity: 0;
}
.x24:hover{
    
}
.x25{
   
    position: absolute;
    width: 6%;
    height: 12%;
    left: 86.5%;
    bottom: 51.5%;
    z-index: 5;
    opacity: 0;
}
.x25:hover{
    
}
.x26{
    
    position: absolute;
    width: 7%;
    height: 16%;
    left: 72.5%;
    bottom: 44.75%;
    z-index: 5;
    opacity: 0;
}
.x26:hover{
    
}

.scale-in-ver-bottom {
    transition: .5s ease-out;
	//-webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-ver-bottom {
    0% {
        //transform: scaleY(0);
        //transform-origin: 0% 100%;
        opacity: 0;
    }
    20% {
        //transform: scaleY(0.2);
        //transform-origin: 0% 100%;
        opacity: 0.2;
    }
    40% {
        //transform: scaleY(0.4);
        //transform-origin: 0% 100%;
        opacity: 0.4;
    }
    60% {
        //transform: scaleY(0.6);
        //transform-origin: 0% 100%;
        opacity: 0.6;
    }
    80% {
        //transform: scaleY(0.8);
        //transform-origin: 0% 100%;
        opacity: 0.8;
    }
    100% {
        //transform: scaleY(1);
        //transform-origin: 0% 100%;
        opacity: 1;
    }
}

.tooltip-top{
    width: 271px;
    height: 111px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 55% 80%, 50% 100%, 45% 80%, 0 80%);
}
.tooltip-left{
    width: 296px;
    height: 100px;
    clip-path: polygon(8% 0, 100% 0%, 100% 100%, 8% 100%, 8% 66%, 0 50%, 8% 34%);
}