<div class="container-box">
    <div *ngIf="!isFullmap" class="content-box bz" >
        <div class="group-box bz">
            <div class="left-box bz">
                <div class="headerCard w-100 ">
                    <app-cu-container>
                        <ng-template #gradient>
                            <div class="headerContent  "   >
                                <!-- <img src="/assets/images/mea.png" loading="lazy" alt="" height="70px" (click)="isChange()"> -->
                                <!-- <img src="/assets/images/cu.png" loading="lazy" alt="" height="70px" (click)="increaseValue()"> -->
                                <img class="bz" src="/assets/images/mea.png" id="mea" loading="lazy" alt="" height="70px" (click)="increaseValue()">
                                <img class="bz" src="/assets/images/cu.png" id="cu" loading="lazy" alt="" height="70px" (click)="increaseValue()">
                                <div class="h-info bz">
                                    <span class="th bz">การไฟฟ้านครหลวง </span>
                                    <span class="en bz">Metropolitan Electricity Authority (6.36 MWp)</span>
                                </div>
                            </div>
                        </ng-template>
                    </app-cu-container>
                </div>
                <div class="overviewCard w-100">
                    <app-cu-container>
                        <ng-template #gradient>
                           <app-overview-consumption class=""
                            [power]="data?.singleValue['total_power']?.dataRecords[0]?.Value | myNumber2 : '1.0-0'"
                            [today]="data?.singleValue['today_energy']?.dataRecords[0]?.Value | myNumber2 : '1.0-2'"
                            [month]="data?.singleValue['monthly_energy']?.dataRecords[0]?.Value | myNumber2 : '1.0-2'"
                            [year]="data?.singleValue['yearly_energy']?.dataRecords[0]?.Value | myNumber2 : '1.0-2'"
                            [total]="data?.singleValue['total_energy']?.dataRecords[0]?.Value | myNumber2 : '1.0-2'"
                            [pr]="data?.singleValue['all_pr']?.dataRecords[0]?.Value | myNumber2 : '1.0-2'"
                           >
                           </app-overview-consumption>
                        </ng-template>
                    </app-cu-container>
                </div>
                <div class="enviCard w-100">
                    <app-cu-container>
                        <ng-template #gradient>
                           <app-envi-consumption class=""
                           [Irr]="data?.singleValue['irr_value']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'"
                           [Amb]="data?.singleValue['amb_value']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'"
                           [Pv]="data?.singleValue['pv_value']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'"
                           [Inso]="data?.singleValue['inso_value']?.dataRecords[0]?.Value | myNumber2 : '1.0-1'"
                           [Co2]="(getSumValue('_co2')*1000) | myNumber : '1.0-0'"
                           [Saving]="getSumValue('today_energy') * 2.7 | myNumber : '1.0-0'">
                           </app-envi-consumption>
                        </ng-template>
                    </app-cu-container>
                </div>
            </div>
            <div class="right-box bz">
                <app-cu-container>
                    <ng-template #gradient>
                        <div class="mapContent w-100 h-100" (click)="isChange()">
                            <!-- <img src="/assets/images/CU3Dmap.png" class="mapImg" width="auto" (click)="isChange()"> -->
                            <app-map-container class="mapItem" [data]="data" [building]="allBuilding"></app-map-container>
                        </div>
                    </ng-template>
                </app-cu-container>
            </div>
        </div>
        <div class="building-box w-100 bz h-100" >
            <app-cu-container>
                <ng-template #gradient>
                    <div class="chart-container w-100 h-100" >
                        <div class="cardTopic bz">TODAY ENERGY ( kWh )</div>
                        <div class="cardContent bz" *ngIf="buildingList">
                          <div class="chartRef bz" *ngFor="let item of buildingList">
                            <app-stack-chart [data]="5" class="chartBox bz w-100 h-100"
                            (click)="navigateToDashboard(item)"
                            [subTitle]="item.name"
                            [unit]="'kWh'"
                            [label]="getLabel(item.id, 0, 3)"
                            [subLabel]="getLabel(item.id, 3, 6)"
                            [rangeVal]="20"
                            [value]="data?.singleValue[item.id+'_energy']?.dataRecords[0]?.Value | myNumber : '1.0-0'"
                            [maxVal]="data?.singleValue[item.id+'_energy']?.maxValue"
                            >
                            </app-stack-chart>
                            <!-- <div class="tooltip brd w-100">
                                <span class="bz w-100 no-pm">{{ item.name }}</span>
                                <span class="bz w-100 no-pm">{{data?.singleValue[item.id+'_energy']?.dataRecords[0]?.Value | myNumber : '1.0-0'}}  {{unit}}</span>
                            </div> -->
                          </div>
                        </div>
                    </div>
                </ng-template>
            </app-cu-container>
        </div>
    </div>
    <div class="fullmap-box bz" *ngIf="isFullmap" >
       <div class="fullmap-content bz">
             <app-map-container class="map-box" [data]="data" [building]="allBuilding"
             ></app-map-container>
             <div class="headerContent1  "  (click)="isChange()" >
                <img src="/assets/images/mea.png" alt="" height="70px">
                <img src="/assets/images/cu.png" alt="" height="70px">
                <div class="h-info ">
                    <span class="th ">จุฬาลงกรณ์มหาวิทยาลัย</span>
                    <span class="en ">Chulalongkorn University ( 6.36 MWp )</span>
                </div>
            </div>
       </div>
    </div>
</div>