<div class="container w-100 ">
  <div class="card-container w-100 ">
    <div class="headBox d-flex-sb">
     <span class="">{{data.name}} Switch Breaker</span>
     <span (click)="close()">
      <i class="material-icons">
        close
      </i>
     </span>
    </div>
      
    <!-- <div class="contentBox w-100 d-flex-ct " *ngIf="isLogIn">
      <div class="statusBreaker" *ngIf="isBreaker">
        Breaker Offline.
      </div>
      <span class="outerbox d-flex-ct">
        <label class="switch ">
          <input class="chk" type="checkbox" [checked]="cbStatus" [disabled]="false" (change)="this.linkBreaker($event)">
          <span class="slider"></span>                
        </label>
      </span>
      <span class="desc">
        this button will be open circuit breaker at building.
        <br> please make sure before pressed !
      </span>
    </div> -->
    
    <div class="contentBox w-100 d-flex-ct " *ngIf="!isLogIn">
      <div class=" w-100 h-100">
        <form class="example-form w-100 bz">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <i class="material-icons">
                person
              </i>
            </div>
            <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="USERNAME" aria-label="Username" autocomplete="off">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <i class="material-icons">
                lock
              </i>
            </div>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="PASSWORD" aria-label="Username" autocomplete="off">
          </div>
          <div>
            <button type="submit" (click)="login()" mat-raised-button color="primary" class="full-width btn-login">Login</button>
          </div>
          <span *ngIf="invalid" class="invalid" [className]="animateClass">The username or password incorrect</span>
        </form>
      </div>
    </div>
  </div>
</div>
