.map-svg{
    scale: 1;
}

.map-img{
    scale: 0.8;
}

.backgroup-box{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    img{
        width: 100vw;
        height: 1000px;
    }
}

.container-box{
    cursor: pointer;
    max-height: calc(100vh - 90px);
    overflow: hidden;
}

