<div class="container-box w-100 h-100 bz">
  <svg class="map-svg bz" width="1920" height="1080" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Group 2190">
    <rect id="southeast 2" width="1920" height="1080" fill="url(#pattern0_899_11014)"/>
    <g id="card">
    <g id="Group 2023">
    <rect id="Rectangle 902" x="583.75" y="623.75" width="300.5" height="98.5" fill="#84193E" fill-opacity="0.6" stroke="#E81E63" stroke-width="1.5"/>
    <text id="&#224;&#184;&#170;&#224;&#184;&#153;&#224;&#184;&#178;&#224;&#184;&#161;&#224;&#184;&#129;&#224;&#184;&#181;&#224;&#184;&#172;&#224;&#184;&#178;&#224;&#184;&#136;&#224;&#184;&#184;&#224;&#184;&#172;&#224;&#184;&#178;&#224;&#184;&#165;&#224;&#184;&#135;&#224;&#184;&#129;&#224;&#184;&#163;&#224;&#184;&#147;&#224;&#185;&#140;&#224;&#184;&#161;&#224;&#184;&#171;&#224;&#184;&#178;&#224;&#184;&#167;&#224;&#184;&#180;&#224;&#184;&#151;&#224;&#184;&#162;&#224;&#184;&#178;&#224;&#184;&#165;&#224;&#184;&#177;&#224;&#184;&#162; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="590" y="644.058">&#xe2a;&#xe19;&#xe32;&#xe21;&#xe01;&#xe35;&#xe2c;&#xe32;&#xe08;&#xe38;&#xe2c;&#xe32;&#xe25;&#xe07;&#xe01;&#xe23;&#xe13;&#xe4c;&#xe21;&#xe2b;&#xe32;&#xe27;&#xe34;&#xe17;&#xe22;&#xe32;&#xe25;&#xe31;&#xe22; : &#10;</tspan><tspan x="590" y="663.058">55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="590" y="683.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 393.12 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="590.004" y="712.785">Capacity : 393.12 kWp</tspan></text>
    </g>
    <path id="Vector 856" d="M885 696H563L536.5 763" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 857" d="M885 695H563L536.5 762" stroke="#E81E63" stroke-width="4"/>
    <g id="Group 2046">
    <circle id="Ellipse 69" cx="529" cy="779" r="18" stroke="#E81E63" stroke-width="4"/>
    <circle id="Ellipse 70" cx="529.079" cy="779.079" r="6.07895" class="point" fill="#E81E63"/>
    </g>
    </g>
    <g id="card_2">
    <g id="Group 2022">
    <rect id="Rectangle 902_2" x="464.75" y="451.75" width="300.5" height="98.5" fill="#84193E" fill-opacity="0.6" stroke="#E81E63" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; 50 &#224;&#184;&#155;&#224;&#184;&#181; &#224;&#184;&#170;&#224;&#184;&#178;&#224;&#184;&#152;&#224;&#184;&#180;&#224;&#184;&#149;&#224;&#184;&#136;&#224;&#184;&#184;&#224;&#184;&#172;&#224;&#184;&#178;&#224;&#184;&#175; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="471" y="472.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; 50 &#xe1b;&#xe35; &#xe2a;&#xe32;&#xe18;&#xe34;&#xe15;&#xe08;&#xe38;&#xe2c;&#xe32;&#xe2f; : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_2" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="471" y="510.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 113.4 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="471.004" y="540.785">Capacity : 113.4 kWp</tspan></text>
    </g>
    <path id="Vector 857_2" d="M465.5 523.5H786L814.5 424.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 858" d="M465.5 523.5H786L814.5 424.5" stroke="#E81E63" stroke-width="4"/>
    <g id="Group 2054">
    <circle id="Ellipse 69_2" cx="819" cy="409" r="18" stroke="#E81E63" stroke-width="4"/>
    <circle id="Ellipse 70_2" cx="819.079" cy="409.079" r="6.07895" class="point" fill="#E81E63"/>
    </g>
    </g>
    <g id="card_3">
    <g id="Group 2032">
    <rect id="Rectangle 902_3" x="560.75" y="192.75" width="300.5" height="98.5" fill="#5A1865" fill-opacity="0.6" stroke="#9C27B0" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#185;&#128;&#224;&#184;&#137;&#224;&#184;&#165;&#224;&#184;&#180;&#224;&#184;&#161;&#224;&#184;&#163;&#224;&#184;&#178;&#224;&#184;&#138;&#224;&#184;&#170;&#224;&#184;&#184;&#224;&#184;&#148;&#224;&#184;&#178;&#224;&#184;&#129;&#224;&#184;&#181;&#224;&#184;&#172;&#224;&#184;&#178;&#224;&#184;&#170;&#224;&#184;&#150;&#224;&#184;&#178;&#224;&#184;&#153; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="567" y="218.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23;&#xe40;&#xe09;&#xe25;&#xe34;&#xe21;&#xe23;&#xe32;&#xe0a;&#xe2a;&#xe38;&#xe14;&#xe32;&#xe01;&#xe35;&#xe2c;&#xe32;&#xe2a;&#xe16;&#xe32;&#xe19; : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_3" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="567" y="249.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 279.72 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="567.004" y="281.785">Capacity : 279.72 kWp</tspan></text>
    </g>
    <path id="Vector 858_2" d="M861 262H542V323" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 859" d="M861 261H542V322" stroke="#9C27B0" stroke-width="4"/>
    <g id="Group 2055">
    <circle id="Ellipse 69_3" cx="542" cy="341" r="18" stroke="#9C27B0" stroke-width="4"/>
    <circle id="Ellipse 70_3" cx="542.079" cy="341.079" r="6.07895" class="point" fill="#9C27B0"/>
    </g>
    </g>
    <g id="card_4">
    <g id="Group 2031">
    <rect id="Rectangle 901" x="471.75" y="23.75" width="300.5" height="98.5" fill="#5A1865" fill-opacity="0.6" stroke="#9C27B0" stroke-width="1.5"/>
    <text id="&#224;&#185;&#130;&#224;&#184;&#163;&#224;&#184;&#135;&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#171;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#170;&#224;&#184;&#179;&#224;&#184;&#153;&#224;&#184;&#177;&#224;&#184;&#129;&#224;&#184;&#135;&#224;&#184;&#178;&#224;&#184;&#153;&#224;&#184;&#161;&#224;&#184;&#171;&#224;&#184;&#178;&#224;&#184;&#167;&#224;&#184;&#180;&#224;&#184;&#151;&#224;&#184;&#162;&#224;&#184;&#178;&#224;&#184;&#165;&#224;&#184;&#177;&#224;&#184;&#162; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="478" y="44.0576">&#xe42;&#xe23;&#xe07;&#xe2d;&#xe32;&#xe2b;&#xe32;&#xe23;&#xe2a;&#xe33;&#xe19;&#xe31;&#xe01;&#xe07;&#xe32;&#xe19;&#xe21;&#xe2b;&#xe32;&#xe27;&#xe34;&#xe17;&#xe22;&#xe32;&#xe25;&#xe31;&#xe22; : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_4" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="478" y="82.7852">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 48.60 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="478.004" y="112.785">Capacity : 48.60 kWp</tspan></text>
    </g>
    <path id="LineEffect" d="M473 95.5H794.5L865.5 149.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="LineEffect_2" d="M473 95H794.5L865.5 149" stroke="#9C27B0" stroke-width="4"/>
    <g id="Group 2056">
    <circle id="Ellipse 69_4" cx="879" cy="163" r="18" stroke="#9C27B0" stroke-width="4"/>
    <circle id="Ellipse 70_4" cx="879.079" cy="163.079" r="6.07895" class="point" fill="#9C27B0"/>
    </g>
    </g>
    <g id="card_5" >
    <g id="Group 2033">
    <rect id="Rectangle 902_4" x="1069.75" y="706.75" width="300.5" height="98.5" fill="#B53930" fill-opacity="0.6" stroke="#F44336" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#136;&#224;&#184;&#173;&#224;&#184;&#148;&#224;&#184;&#163;&#224;&#184;&#150; 1 : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1076" y="727.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23;&#xe08;&#xe2d;&#xe14;&#xe23;&#xe16; 1 : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_5" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1076" y="765.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 393.12 kWp_2" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1076" y="795.785">Capacity : 393.12 kWp</tspan></text>
    </g>
    <path id="Vector 860" d="M1369.5 778.5H1044L1007 877" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 861" d="M1369.5 778.5H1044L1007 877" stroke="#F44336" stroke-width="4"/>
    <g id="Group 2063">
    <circle id="Ellipse 69_5" cx="1001" cy="894" r="18" stroke="#F44336" stroke-width="4"/>
    <circle id="Ellipse 70_5" cx="1001.08" cy="894.079" r="6.07895" class="point" fill="#F44336"/>
    </g>
    </g>
    <g id="card_6" >
    <g id="Group 2034">
    <rect id="Rectangle 902_5" x="1583.75" y="712.75" width="300.5" height="98.5" fill="#84193E" fill-opacity="0.6" stroke="#E81E63" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#184;&#173;&#224;&#185;&#128;&#224;&#184;&#153;&#224;&#184;&#129;&#224;&#184;&#155;&#224;&#184;&#163;&#224;&#184;&#176;&#224;&#184;&#170;&#224;&#184;&#135;&#224;&#184;&#132;&#224;&#185;&#140; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1590" y="733.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe2d;&#xe40;&#xe19;&#xe01;&#xe1b;&#xe23;&#xe30;&#xe2a;&#xe07;&#xe04;&#xe4c; : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_6" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1590" y="771.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 172.80 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1590" y="801.785">Capacity : 172.80 kWp</tspan></text>
    </g>
    <path id="Vector 862" d="M1883.5 784.5H1563.5L1528.5 683.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 863" d="M1883.5 784.5H1563.5L1528.5 683.5" stroke="#E81E63" stroke-width="4"/>
    <g id="Group 2062">
    <circle id="Ellipse 69_6" cx="1522" cy="667" r="18" stroke="#E81E63" stroke-width="4"/>
    <circle id="Ellipse 70_6" cx="1522.08" cy="667.079" r="6.07895" class="point" fill="#E81E63"/>
    </g>
    </g>
    <g id="card_7">
    <g id="Group 2039">
    <rect id="Rectangle 902_6" x="1343.75" y="374.75" width="300.5" height="98.5" fill="#84193E" fill-opacity="0.6" stroke="#E81E63" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163; &#224;&#185;&#128;&#224;&#184;&#151;&#224;&#184;&#158;&#224;&#184;&#151;&#224;&#184;&#167;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#178;&#224;&#184;&#167;&#224;&#184;&#148;&#224;&#184;&#181; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1350" y="395.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23; &#xe40;&#xe17;&#xe1e;&#xe17;&#xe27;&#xe32;&#xe23;&#xe32;&#xe27;&#xe14;&#xe35; : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_7" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1350" y="433.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 62.64 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1350" y="463.785">Capacity : 62.64 kWp</tspan></text>
    </g>
    <path id="Vector 863_2" d="M1343 446.5H1662L1673 491" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 864" d="M1343 445.5H1662L1673 490" stroke="#E81E63" stroke-width="4"/>
    <g id="Group 2061">
    <circle id="Ellipse 69_7" cx="1678" cy="507" r="18" stroke="#E81E63" stroke-width="4"/>
    <circle id="Ellipse 70_7" cx="1678.08" cy="507.079" r="6.07895" class="point" fill="#E81E63"/>
    </g>
    </g>
    <g id="card_8">
    <g id="Group 2035">
    <rect id="Rectangle 902_7" x="980.75" y="374.75" width="300.5" height="98.5" fill="#5A1865" fill-opacity="0.6" stroke="#9C27B0" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#136;&#224;&#184;&#178;&#224;&#184;&#161;&#224;&#184;&#136;&#224;&#184;&#184;&#224;&#184;&#163;&#224;&#184;&#181; 6 : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="987" y="395.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23;&#xe08;&#xe32;&#xe21;&#xe08;&#xe38;&#xe23;&#xe35; 6 : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_8" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="987" y="433.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 393.12 kWp_3" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="987.004" y="463.785">Capacity : 393.12 kWp</tspan></text>
    </g>
    <g id="Group 2059">
    <circle id="Ellipse 69_8" cx="960" cy="239" r="18" stroke="#9C27B0" stroke-width="4"/>
    <circle id="Ellipse 70_8" cx="960.079" cy="239.079" r="6.07895" class="point" fill="#9C27B0"/>
    </g>
    <path id="Vector 861_2" d="M1281 447H960V256" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 862_2" d="M1281 447H960V256" stroke="#9C27B0" stroke-width="4"/>
    </g>
    <g id="card_9">
    <g id="Group 2036">
    <rect id="Rectangle 902_8" x="1019.75" y="13.75" width="300.5" height="98.5" fill="#5A1865" fill-opacity="0.6" stroke="#9C27B0" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#170;&#224;&#184;&#179;&#224;&#184;&#153;&#224;&#184;&#177;&#224;&#184;&#129;&#224;&#184;&#135;&#224;&#184;&#178;&#224;&#184;&#153;&#224;&#184;&#136;&#224;&#184;&#177;&#224;&#184;&#148;&#224;&#184;&#129;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#151;&#224;&#184;&#163;&#224;&#184;&#177;&#224;&#184;&#158;&#224;&#184;&#162;&#224;&#185;&#140;&#224;&#184;&#170;&#224;&#184;&#180;&#224;&#184;&#153; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1026" y="34.0576">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23;&#xe2a;&#xe33;&#xe19;&#xe31;&#xe01;&#xe07;&#xe32;&#xe19;&#xe08;&#xe31;&#xe14;&#xe01;&#xe32;&#xe23;&#xe17;&#xe23;&#xe31;&#xe1e;&#xe22;&#xe4c;&#xe2a;&#xe34;&#xe19; : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_9" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1026" y="72.7852">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 69.12 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1026" y="102.785">Capacity : 69.12 kWp</tspan></text>
    </g>
    <path id="Vector 866" d="M1319.5 85.5H999L973 112.5" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 867" d="M1319.5 85.5H999L973 112.5" stroke="#9C27B0" stroke-width="4"/>
    <g id="Group 2057">
    <circle id="Ellipse 69_9" cx="960" cy="127" r="18" stroke="#9C27B0" stroke-width="4"/>
    <circle id="Ellipse 70_9" cx="960.079" cy="127.079" r="6.07895" class="point" fill="#9C27B0"/>
    </g>
    </g>
    <g id="card_10">
    <g id="Group 2037">
    <rect id="Rectangle 902_9" x="1417.75" y="90.75" width="300.5" height="98.5" fill="#5A1865" fill-opacity="0.6" stroke="#9C27B0" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#136;&#224;&#184;&#178;&#224;&#184;&#161;&#224;&#184;&#136;&#224;&#184;&#184;&#224;&#184;&#163;&#224;&#184;&#181; 1 : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1424" y="111.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23;&#xe08;&#xe32;&#xe21;&#xe08;&#xe38;&#xe23;&#xe35; 1  : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_10" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1424" y="149.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 90.72 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1424" y="179.785">Capacity : 90.72 kWp</tspan></text>
    </g>
    <path id="Vector 865" d="M1719 162.5H1050.3" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 866_2" d="M1719 162.5H1050.3" stroke="#9C27B0" stroke-width="4"/>
    <g id="Group 2058">
    <circle id="Ellipse 69_10" cx="1034" cy="163" r="18" stroke="#9C27B0" stroke-width="4"/>
    <circle id="Ellipse 70_10" cx="1034.08" cy="163.079" r="6.07895" class="point" fill="#9C27B0"/>
    </g>
    </g>
    <g id="card_11">
    <g id="Group 2038">
    <rect id="Rectangle 902_10" x="1416.75" y="222.75" width="300.5" height="98.5" fill="#84193E" fill-opacity="0.6" stroke="#E81E63" stroke-width="1.5"/>
    <text id="&#224;&#184;&#173;&#224;&#184;&#178;&#224;&#184;&#132;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#158;&#224;&#184;&#163;&#224;&#184;&#176;&#224;&#184;&#161;&#224;&#184;&#180;&#224;&#185;&#136;&#224;&#184;&#135;&#224;&#184;&#130;&#224;&#184;&#167;&#224;&#184;&#177;&#224;&#184;&#141;&#224;&#184;&#129;&#224;&#184;&#178;&#224;&#184;&#163;&#224;&#184;&#168;&#224;&#184;&#182;&#224;&#184;&#129;&#224;&#184;&#169;&#224;&#184;&#178;&#224;&#185;&#132;&#224;&#184;&#151;&#224;&#184;&#162; : 55.32 kW" fill="white" xml:space="preserve" style="white-space: pre" font-family="Tahoma" font-size="14" font-weight="bold" letter-spacing="0em"><tspan x="1423" y="243.058">&#xe2d;&#xe32;&#xe04;&#xe32;&#xe23;&#xe1e;&#xe23;&#xe30;&#xe21;&#xe34;&#xe48;&#xe07;&#xe02;&#xe27;&#xe31;&#xe0d;&#xe01;&#xe32;&#xe23;&#xe28;&#xe36;&#xe01;&#xe29;&#xe32;&#xe44;&#xe17;&#xe22; : 55.32 kW</tspan></text>
    <text id="Today Production : 100.20 kwh_11" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1423" y="281.785">Today Production : 100.20 kwh</tspan></text>
    <text id="Capacity : 295.92 kWp" fill="white" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="14" font-weight="500" letter-spacing="0em"><tspan x="1423" y="311.785">Capacity : 295.92 kWp</tspan></text>
    </g>
    <path id="Vector 864_2" d="M1717.5 294.5L1235.5 295.501" stroke="white" stroke-width="2"/>
    <path class="effect" id="Vector 865_2" d="M1717.5 294.5L1235.5 295.501" stroke="#E81E63" stroke-width="4"/>
    <g id="Group 2060">
    <circle id="Ellipse 69_11" cx="1218" cy="295" r="18" stroke="#E81E63" stroke-width="4"/>
    <circle id="Ellipse 70_11" cx="1218.08" cy="295.079" r="6.07895" class="point" fill="#E81E63" />
    </g>
    </g>
    </g>
    <defs>
    <pattern id="pattern0_899_11014" patternContentUnits="objectBoundingBox" width="1" height="1">
    <use xlink:href="#image0_899_11014" transform="scale(0.000520833 0.000925926)"/>
    </pattern>
    <image id="image0_899_11014" overflow="visible" width="1920" height="1080" xlink:href="assets/images/building/zone/southeast.png" />
    </defs>
  </svg>
  <!-- <div class="backgroup-box">
    <img src="assets/images/building/zone/southeast.png">
  </div>   -->
</div>