.map-svg{
    scale: 1.0;
    z-index: 10;
    position: fixed;
    top: 90px;
    left: 0%;
}

.backgroup-box{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    img{
        width: 100vw;
        height: 1000px;
    }
}

.container-box{
    cursor: pointer;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    //position: relative;
    max-height: calc(100vh - 90px);
    overflow: hidden;
}

